<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Enterprise.Core.EntityChangeSetRecorderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Enterprise.Core.Printing.PrintSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Enterprise.Core.Ping.PingServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Enterprise.Core.Modelling.EntityValidationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Enterprise.Core.EntityChangeSetRecorderSettings>
            <setting name="EnableRecording" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Enterprise.Core.EntityChangeSetRecorderSettings>
        <ClearCanvas.Enterprise.Core.Printing.PrintSettings>
            <setting name="ConverterProgram" serializeAs="String">
                <value>C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe</value>
            </setting>
            <setting name="ConverterOptions" serializeAs="String">
                <value>--disable-smart-shrinking -s Letter -R 25 -L 25 --outline-depth 0</value>
            </setting>
            <setting name="ConverterTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HttpProxyServerPortRange" serializeAs="String">
                <value>55355-55356</value>
            </setting>
        </ClearCanvas.Enterprise.Core.Printing.PrintSettings>
        <ClearCanvas.Enterprise.Core.Ping.PingServiceSettings>
            <setting name="ResponseCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResponseCachingTimeToLiveSeconds" serializeAs="String">
                <value>30</value>
            </setting>
        </ClearCanvas.Enterprise.Core.Ping.PingServiceSettings>
        <ClearCanvas.Enterprise.Core.Modelling.EntityValidationSettings>
            <setting name="CustomRulesCachingTimeToLiveSeconds" serializeAs="String">
                <value>60</value>
            </setting>
        </ClearCanvas.Enterprise.Core.Modelling.EntityValidationSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
