<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageServer.Services.ServiceLock.FilesystemFileImporter.DirectoryImportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.ImageServer.Services.ServiceLock.ServiceLockSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
         </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageServer.Services.ServiceLock.FilesystemFileImporter.DirectoryImportSettings>
            <setting name="MaxConcurrency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ImageDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBatchSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RecheckDelaySeconds" serializeAs="String">
                <value>5</value>
            </setting>
        </ClearCanvas.ImageServer.Services.ServiceLock.FilesystemFileImporter.DirectoryImportSettings>
        <ClearCanvas.ImageServer.Services.ServiceLock.ServiceLockSettings>
            <setting name="FilesystemQueueResultCount" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FilesystemDeleteRecheckDelay" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FilesystemDeleteCheckInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TierMigrationSpeed" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HighWatermarkAlertInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FilesystemLossyCompressRecheckDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FilesystemLosslessCompressRecheckDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ApplicationLogCachedDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ApplicationLogRecheckDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AlertCachedDays" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlertRecheckDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AlertDelete" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.ImageServer.Services.ServiceLock.ServiceLockSettings>   
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
