<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClearCanvas.ImageViewer.InputManagement.InputManagementSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.BaseTools.MouseToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.DicomPresentationImageSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.RoiGraphics.RoiSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.RoiGraphics.Analyzers.RoiAnalyzerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.Annotations.Dicom.DicomFilteredAnnotationLayoutStoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClearCanvas.ImageViewer.Services.ServiceControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.StudyManagement.ValidationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.NamedCompositeGraphicSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageViewer.StandardModalitySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<ClearCanvas.ImageViewer.InputManagement.InputManagementSettings>
			<setting name="ContextMenuDelay" serializeAs="String">
				<value>300</value>
			</setting>
		</ClearCanvas.ImageViewer.InputManagement.InputManagementSettings>
		<ClearCanvas.ImageViewer.BaseTools.MouseToolSettings>
			<setting name="ShowMouseButtonIconOverlay" serializeAs="String">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageViewer.BaseTools.MouseToolSettings>
		<ClearCanvas.ImageViewer.DicomPresentationImageSettings>
			<setting name="AllowWindowingOnColorImages" serializeAs="String">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageViewer.DicomPresentationImageSettings>
		<ClearCanvas.ImageViewer.RoiGraphics.RoiSettings>
			<setting name="ShowAnalysisByDefault" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AnalysisUnits" serializeAs="String">
				<value>Centimeters</value>
			</setting>
		</ClearCanvas.ImageViewer.RoiGraphics.RoiSettings>
		<ClearCanvas.ImageViewer.RoiGraphics.Analyzers.RoiAnalyzerSettings>
			<setting name="ShowAnalyzerOutput" serializeAs="String">
				<value>True</value>
			</setting>
		</ClearCanvas.ImageViewer.RoiGraphics.Analyzers.RoiAnalyzerSettings>
		<ClearCanvas.ImageViewer.Annotations.Dicom.DicomFilteredAnnotationLayoutStoreSettings>
			<setting name="FilteredLayoutSettingsXml" serializeAs="String">
				<value>DicomFilteredAnnotationLayoutStoreDefaults.xml</value>
			</setting>
		</ClearCanvas.ImageViewer.Annotations.Dicom.DicomFilteredAnnotationLayoutStoreSettings>
	</userSettings>
	<applicationSettings>
		<ClearCanvas.ImageViewer.Services.ServiceControlSettings>
   <setting name="Enabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ServiceName" serializeAs="String">
    <value>ClearCanvas Workstation ShredHost Service</value>
   </setting>
  </ClearCanvas.ImageViewer.Services.ServiceControlSettings>
		<ClearCanvas.ImageViewer.StudyManagement.ValidationSettings>
			<setting name="DisableSopValidation" serializeAs="String">
				<value>False</value>
			</setting>
		</ClearCanvas.ImageViewer.StudyManagement.ValidationSettings>
		<ClearCanvas.ImageViewer.StandardModalitySettings>
			<setting name="Modalities" serializeAs="String">
				<value>CR,CT,DOC,DX,ES,KO,MG,MR,NM,PR,OT,PT,RF,SC,US,XA</value>
			</setting>
		</ClearCanvas.ImageViewer.StandardModalitySettings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
