<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Desktop.Explorer.ExplorerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Desktop.Explorer.ExplorerLocalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ClearCanvas.Desktop.Explorer.ExplorerSettings>
      <setting name="LaunchAsShelf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LaunchAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
    </ClearCanvas.Desktop.Explorer.ExplorerSettings>
  </userSettings>
  <applicationSettings>
    <ClearCanvas.Desktop.Explorer.ExplorerLocalSettings>
      <setting name="ExplorerIsPrimary" serializeAs="String">
        <value>True</value>
      </setting>
    </ClearCanvas.Desktop.Explorer.ExplorerLocalSettings>
  </applicationSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DicomExplorerAutomationBehaviour" name="DicomExplorerAutomation">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDicomExplorerAutomation"
          name="DicomExplorerAutomation" contract="IDicomExplorerAutomation" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomExplorerAutomation"
          name="DicomExplorerAutomation" contract="IDicomExplorerAutomation" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DicomExplorerAutomationBehaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDicomExplorerAutomation" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IDicomExplorerAutomation" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorer"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomExplorerAutomation"
          contract="IDicomExplorerAutomation" name="NetNamedPipeBinding_IDicomExplorerAutomation">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
