<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ViewerAutomationBehaviour" name="ViewerAutomation">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IViewerAutomation"
          name="ViewerAutomation" contract="IViewerAutomation" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IViewerAutomation"
          name="ViewerAutomation" contract="IViewerAutomation" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/Automation" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/Automation" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StudyLocatorBehaviour" name="StudyLocator">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudyRootQuery"
          name="StudyLocator" contract="IStudyRootQuery" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStudyRootQuery"
          name="StudyLocator" contract="IStudyRootQuery" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/StudyLocator" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StudyLocator2Behaviour" name="StudyLocator2">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudyLocator"
          name="StudyLocator2" contract="IStudyLocator" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStudyLocator"
          name="StudyLocator2" contract="IStudyLocator" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51124/ClearCanvas/ImageViewer/StudyLocator2" />
            <add baseAddress="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator2" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ViewerAutomationBehaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="StudyLocatorBehaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="StudyLocator2Behaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IViewerAutomation" />
        <binding name="BasicHttpBinding_IStudyRootQuery" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
        <binding name="BasicHttpBinding_IStudyLocator" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IStudyRootQuery" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
        <binding name="NetNamedPipeBinding_IStudyLocator" maxBufferSize="26214400" maxReceivedMessageSize="26214400" />
        <binding name="NetNamedPipeBinding_IViewerAutomation" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStudyRootQuery"
        contract="IStudyRootQuery" name="NetNamedPipeBinding_IStudyRootQuery">
      </endpoint>
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator2"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStudyLocator"
        contract="IStudyLocator" name="NetNamedPipeBinding_IStudyLocator">
      </endpoint> 
      <endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/Automation"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IViewerAutomation"
        contract="IViewerAutomation" name="NetNamedPipeBinding_IViewerAutomation">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
