<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Dicom.Network.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.ImageViewer.StudyManagement.Core.WorkItemProcessor.WorkItemServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	    <section name="ClearCanvas.Server.ShredHost.ShredHostServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IDicomServer"  closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IWorkItemActivityMonitorService"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="Infinite"
            sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered"
            transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="5242880" maxConnections="10"
            maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IWorkItemService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="5242880" maxConnections="10" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/DICOMViewer/WorkItemActivityMonitor"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWorkItemActivityMonitorService"
          contract="IWorkItemActivityMonitorService" name="NetNamedPipeBinding_IWorkItemActivityMonitorService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DICOMViewer/WorkItemService"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWorkItemService"
          contract="IWorkItemService" name="NetNamedPipeBinding_IWorkItemService">
      </endpoint>
      <endpoint address="net.pipe://localhost/DICOMViewer/DicomServer"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDicomServer"
          contract="IDicomServer" name="NetNamedPipeBinding_IDicomServer">
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ClearCanvas.Server.ShredHost.ShredHostServiceSettings>
      <setting name="ShredHostHttpPort" serializeAs="String">
        <value>51121</value>
      </setting>
      <setting name="SharedHttpPort" serializeAs="String">
        <value>51122</value>
      </setting>
      <setting name="SharedTcpPort" serializeAs="String">
        <value>51123</value>
      </setting>
      <setting name="ServiceAddressBase" serializeAs="String">
        <value>DICOMViewer</value>
      </setting>
    </ClearCanvas.Server.ShredHost.ShredHostServiceSettings>
    <ClearCanvas.Dicom.Network.NetworkSettings>
      <setting name="ReadTimeout" serializeAs="String">
        <value>900000</value>
      </setting>
      <setting name="WriteTimeout" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ConnectTimeout" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="ReceiveBufferSize" serializeAs="String">
        <value>118341</value>
      </setting>
      <setting name="SendBufferSize" serializeAs="String">
        <value>118341</value>
      </setting>
      <setting name="LocalMaxPduLength" serializeAs="String">
        <value>116794</value>
      </setting>
      <setting name="RemoteMaxPduLength" serializeAs="String">
        <value>116794</value>
      </setting>
      <setting name="DisableNagle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CombineCommandDataPdu" serializeAs="String">
        <value>True</value>
      </setting>
    </ClearCanvas.Dicom.Network.NetworkSettings>
    <ClearCanvas.ImageViewer.StudyManagement.Core.WorkItemProcessor.WorkItemServiceSettings>
      <setting name="NormalThreadCount" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="StatThreadCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PostponeSeconds" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ExpireDelaySeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DeleteDelayMinutes" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="RetryCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StudyProcessBatchSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="InsertDelaySeconds" serializeAs="String">
        <value>0</value>
      </setting>
    </ClearCanvas.ImageViewer.StudyManagement.Core.WorkItemProcessor.WorkItemServiceSettings>    
  </applicationSettings>
</configuration>