<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RemotingClient.RemotingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" secure="false"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <applicationSettings>
    <RemotingClient.RemotingSettings>
      <setting name="RemoteHostUrl" serializeAs="String">
        <value>tcp://localhost:8080/echo.rem</value>
      </setting>
    </RemotingClient.RemotingSettings>
  </applicationSettings>
</configuration>