<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Client.ViewImagesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.OrderEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.PatientProfileLookupSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.ExternalPractitionerMergeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.FolderSystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.WorklistSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.WorklistEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.FolderExplorerComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.CannedTextSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.AttachedDocumentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.BannerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.CheckInSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.ProcedureTypeLookupSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.PublishReportComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.AddressEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.DiagnosticServiceLookupSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.PatientSearchComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.OrderNoteboxFolderSystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.OrderNoteboxFolderSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.OrderAdditionalInfoComponentSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.PatientNoteEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.WebServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.RandomUtilsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.WebResourcesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.ContactPersonEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.EmailAddressEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.AddressSummaryComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Common.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Common.AddressSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Client.LoginFacilityProviderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.LoginFacilityProvider" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.PrintReportComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.CannedTextSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.SearchComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.WorklistEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.FolderExplorerComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.HomePageSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.OrderNoteboxFolderSystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.OrderNoteConversationComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.LoginDialogSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.WorkingFacilityLocalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Common.DummySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ClearCanvas.Ris.Client.ViewImagesSettings>
        <setting name="OpenSeparateLinkedProcedureStudies" serializeAs="String">
          <value>False</value>
        </setting>
      </ClearCanvas.Ris.Client.ViewImagesSettings>
      <ClearCanvas.Ris.Client.OrderEditorComponentSettings>
        <setting name="EnableCopiesToRecipientsPage" serializeAs="String">
          <value>False</value>
        </setting>
      </ClearCanvas.Ris.Client.OrderEditorComponentSettings>
      <ClearCanvas.Ris.Client.PatientProfileLookupSettings>
        <setting name="MinQueryStringLength" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="QuerySpecificityThreshold" serializeAs="String">
          <value>100</value>
        </setting>
      </ClearCanvas.Ris.Client.PatientProfileLookupSettings>
      <ClearCanvas.Ris.Client.ExternalPractitionerMergeSettings>
        <setting name="MergeCostUserWarningThreshold" serializeAs="String">
          <value>30</value>
        </setting>
      </ClearCanvas.Ris.Client.ExternalPractitionerMergeSettings>
      <ClearCanvas.Ris.Client.FolderSystemSettings>
        <setting name="ItemsPerPage" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="SearchCriteriaSpecificityThreshold" serializeAs="String">
          <value>200</value>
        </setting>
        <setting name="EnablePartialMatchingOnIdentifierSearch" serializeAs="String">
          <value>True</value>
        </setting>
      </ClearCanvas.Ris.Client.FolderSystemSettings>
      <ClearCanvas.Ris.Client.WorklistSettings>
        <setting name="ItemsPerPage" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="EnablePartialMatchingOnIdentifierSearch" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SearchCriteriaSpecificityThreshold" serializeAs="String">
          <value>200</value>
        </setting>
      </ClearCanvas.Ris.Client.WorklistSettings>
      <ClearCanvas.Ris.Client.WorklistEditorComponentSettings>
        <setting name="ShowTranscribedByPage" serializeAs="String">
          <value>False</value>
        </setting>
      </ClearCanvas.Ris.Client.WorklistEditorComponentSettings>
      <ClearCanvas.Ris.Client.FolderExplorerComponentSettings>
        <setting name="DefaultConfigurationXml" serializeAs="String">
          <value>FolderExplorerComponentSettings.xml</value>
        </setting>
      </ClearCanvas.Ris.Client.FolderExplorerComponentSettings>
      <ClearCanvas.Ris.Client.CannedTextSettings>
        <setting name="RestrictNameToAlphaChars" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="RestrictFieldsToAlphaChars" serializeAs="String">
          <value>True</value>
        </setting>
      </ClearCanvas.Ris.Client.CannedTextSettings>
      <ClearCanvas.Ris.Client.AttachedDocumentSettings>
        <setting name="DownloadCacheTimeToLive" serializeAs="String">
          <value>60</value>
        </setting>
      </ClearCanvas.Ris.Client.AttachedDocumentSettings>
      <ClearCanvas.Ris.Client.BannerSettings>
        <setting name="BannerHeight" serializeAs="String">
          <value>95</value>
        </setting>
      </ClearCanvas.Ris.Client.BannerSettings>
      <ClearCanvas.Ris.Client.CheckInSettings>
        <setting name="EarlyCheckInWarningThreshold" serializeAs="String">
          <value>120</value>
        </setting>
        <setting name="LateCheckInWarningThreshold" serializeAs="String">
          <value>180</value>
        </setting>
      </ClearCanvas.Ris.Client.CheckInSettings>
      <ClearCanvas.Common.ExtensionSettings>
        <setting name="ExtensionConfigurationXml" serializeAs="Xml">
          <value>
            <extensions>
              <extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="true"/>
            </extensions>
          </value>
        </setting>
      </ClearCanvas.Common.ExtensionSettings>
      <ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
        <setting name="BaseUrl" serializeAs="String">
          <value>net.tcp://localhost:8000/</value>
        </setting>
        <setting name="ConfigurationClass" serializeAs="String">
          <value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
        </setting>
        <setting name="MaxReceivedMessageSize" serializeAs="String">
          <value>2000000</value>
        </setting>
        <setting name="CertificateValidationMode" serializeAs="String">
          <value>PeerOrChainTrust</value>
        </setting>
        <setting name="RevocationMode" serializeAs="String">
          <value>NoCheck</value>
        </setting>
        <setting name="UserCredentialsProviderClass" serializeAs="String">
          <value>ClearCanvas.Enterprise.Common.DefaultUserCredentialsProvider, ClearCanvas.Enterprise.Common</value>
        </setting>
      </ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
      <ClearCanvas.Ris.Client.ProcedureTypeLookupSettings>
        <setting name="MinQueryStringLength" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="QuerySpecificityThreshold" serializeAs="String">
          <value>200</value>
        </setting>
      </ClearCanvas.Ris.Client.ProcedureTypeLookupSettings>
        <ClearCanvas.Ris.Client.PublishReportComponentSettings>
            <setting name="ReportHeader" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReportFooter" serializeAs="String">
                <value>&amp;b Page &amp;p of &amp;P</value>
            </setting>
        </ClearCanvas.Ris.Client.PublishReportComponentSettings>
        <ClearCanvas.Ris.Client.AddressEditorComponentSettings>
            <setting name="Countries" serializeAs="String">
                <value>Canada</value>
            </setting>
            <setting name="Provinces" serializeAs="String">
                <value>ON, AB, BC, MB, NB, NL, NS, PE, QC, SK, NT, NU, YT</value>
            </setting>
        </ClearCanvas.Ris.Client.AddressEditorComponentSettings>
        <ClearCanvas.Ris.Client.DiagnosticServiceLookupSettings>
            <setting name="MinQueryStringLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="QuerySpecificityThreshold" serializeAs="String">
                <value>200</value>
            </setting>
        </ClearCanvas.Ris.Client.DiagnosticServiceLookupSettings>
        <ClearCanvas.Ris.Client.PatientSearchComponentSettings>
            <setting name="SearchCriteriaSpecificityThreshold" serializeAs="String">
                <value>500</value>
            </setting>
        </ClearCanvas.Ris.Client.PatientSearchComponentSettings>
        <ClearCanvas.Ris.Client.OrderNoteboxFolderSystemSettings>
            <setting name="RefreshTime" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="ItemsPerPage" serializeAs="String">
                <value>100</value>
            </setting>
        </ClearCanvas.Ris.Client.OrderNoteboxFolderSystemSettings>
        <ClearCanvas.Ris.Client.OrderNoteboxFolderSettings>
            <setting name="RefreshTime" serializeAs="String">
                <value>120000</value>
            </setting>
        </ClearCanvas.Ris.Client.OrderNoteboxFolderSettings>
        <ClearCanvas.Ris.Client.PatientNoteEditorComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>PatientNoteEditorComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.PatientNoteEditorComponentSettings>
        <ClearCanvas.Ris.Client.WebServicesSettings>
            <setting name="ApplicationServicesBaseUrl" serializeAs="String">
                <value>net.tcp://localhost:8000/</value>
            </setting>
            <setting name="ConfigurationClass" serializeAs="String">
                <value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
            </setting>
            <setting name="MaxReceivedMessageSize" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="CertificateValidationMode" serializeAs="String">
                <value>PeerOrChainTrust</value>
            </setting>
            <setting name="RevocationMode" serializeAs="String">
                <value>NoCheck</value>
            </setting>
            <setting name="UseJsmlShimService" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Ris.Client.WebServicesSettings>
        <ClearCanvas.Ris.Client.RandomUtilsSettings>
            <setting name="MaleNameDictionary" serializeAs="String">
                <value>Dictionary.Name.Male.txt</value>
            </setting>
            <setting name="FemaleNameDictionary" serializeAs="String">
                <value>Dictionary.Name.Female.txt</value>
            </setting>
            <setting name="FamilyNameDictionary" serializeAs="String">
                <value>Dictionary.Name.Family.txt</value>
            </setting>
        </ClearCanvas.Ris.Client.RandomUtilsSettings>
        <ClearCanvas.Ris.Client.WebResourcesSettings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://localhost/RIS</value>
            </setting>
            <setting name="OrderAdditionalInfoPageUrl" serializeAs="String">
                <value>forms/performing/orderadditionalinfo.htm</value>
            </setting>
            <setting name="PatientProfilePageUrl" serializeAs="String">
                <value>patientprofile.htm</value>
            </setting>
            <setting name="BannerPageUrl" serializeAs="String">
                <value>banner.htm</value>
            </setting>
            <setting name="OrderDetailPageUrl" serializeAs="String">
                <value>protocollingorderdetail.htm</value>
            </setting>
            <setting name="RegistrationFolderSystemUrl" serializeAs="String">
                <value>registrationpreview.htm</value>
            </setting>
            <setting name="BookingFolderSystemUrl" serializeAs="String">
                <value>bookingpreview.htm</value>
            </setting>
            <setting name="DetailsPageUrl" serializeAs="String">
                <value>forms/performing/mpps.htm</value>
            </setting>
            <setting name="OrderSummaryUrl" serializeAs="String">
                <value>performingdocumentation-ordersummary.htm</value>
            </setting>
            <setting name="ProtocolSummaryUrl" serializeAs="String">
                <value>protocolsummary.htm</value>
            </setting>
            <setting name="PerformingFolderSystemUrl" serializeAs="String">
                <value>performingpreview.htm</value>
            </setting>
            <setting name="ReportViewPageUrl" serializeAs="String">
                <value>priorreport.htm</value>
            </setting>
            <setting name="ReportEditorPageUrl" serializeAs="String">
                <value>reporteditor.htm</value>
            </setting>
            <setting name="ReportPreviewPageUrl" serializeAs="String">
                <value>reportpreview.htm</value>
            </setting>
            <setting name="AddendumEditorPageUrl" serializeAs="String">
                <value>addendumeditor.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.WebResourcesSettings>
        <ClearCanvas.Ris.Client.ContactPersonEditorComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>ContactPersonEditorComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.ContactPersonEditorComponentSettings>
        <ClearCanvas.Ris.Client.EmailAddressEditorComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>EmailAddressEditorComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.EmailAddressEditorComponentSettings>
        <ClearCanvas.Ris.Client.AddressSummaryComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>AddressesSummaryComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.AddressSummaryComponentSettings>
        <ClearCanvas.Ris.Client.FormatSettings>
            <setting name="HealthcardNumberMask" serializeAs="String">
                <value>0000 000 000</value>
            </setting>
            <setting name="HealthcardVersionCodeMask" serializeAs="String">
                <value>LL</value>
            </setting>
            <setting name="TelephoneNumberLocalMask" serializeAs="String">
                <value>000-0000</value>
            </setting>
            <setting name="TelephoneNumberFullMask" serializeAs="String">
                <value>(000) 000-0000</value>
            </setting>
            <setting name="PersonNameDefaultFormat" serializeAs="String">
                <value>%F, %G %M</value>
            </setting>
            <setting name="HealthcardDefaultFormat" serializeAs="String">
                <value>%A %N %V</value>
            </setting>
            <setting name="AddressDefaultFormat" serializeAs="String">
                <value>%S, %V %P %Z</value>
            </setting>
            <setting name="TelephoneNumberSuppressCountryCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TelephoneNumberDefaultFormat" serializeAs="String">
                <value>%c (%A) %N %X</value>
            </setting>
            <setting name="MrnDefaultFormat" serializeAs="String">
                <value>%A %N</value>
            </setting>
            <setting name="VisitNumberDefaultFormat" serializeAs="String">
                <value>%A %N</value>
            </setting>
            <setting name="ExternalPractitionerContactPointDefaultFormat"
                serializeAs="String">
                <value>%N (%A ph:%T fx:%F Em:%E)</value>
            </setting>
            <setting name="AccessionNumberDefaultFormat" serializeAs="String">
                <value>%L %N</value>
            </setting>
            <setting name="AccessionNumberLabel" serializeAs="String">
                <value>A#</value>
            </setting>
            <setting name="AccessionNumberMask" serializeAs="String">
                <value>0000000 </value>
            </setting>
            <setting name="ProcedurePortableLateralityDefaultFormat" serializeAs="String">
                <value>%P/%L</value>
            </setting>
        </ClearCanvas.Ris.Client.FormatSettings>
        <ClearCanvas.Ris.Client.Common.FormatSettings>
            <setting name="HealthcardNumberMask" serializeAs="String">
                <value>0000 000 000</value>
            </setting>
            <setting name="HealthcardVersionCodeMask" serializeAs="String">
                <value>LL</value>
            </setting>
            <setting name="TelephoneNumberLocalMask" serializeAs="String">
                <value>000-0000</value>
            </setting>
            <setting name="TelephoneNumberFullMask" serializeAs="String">
                <value>(000) 000-0000</value>
            </setting>
        </ClearCanvas.Ris.Client.Common.FormatSettings>
        <ClearCanvas.Ris.Client.Common.AddressSettings>
            <setting name="Countries" serializeAs="String">
                <value>Canada</value>
            </setting>
            <setting name="Provinces" serializeAs="String">
                <value>ON, AB, BC, MB, NB, NL, NS, PE, QC, SK, NT, NU, YT</value>
            </setting>
        </ClearCanvas.Ris.Client.Common.AddressSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Ris.Client.LoginFacilityProviderSettings>
            <setting name="IsRisCoreFeatureLicensedInternal" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.LoginFacilityProviderSettings>
        <ClearCanvas.Ris.Client.LoginFacilityProvider>
            <setting name="IsRisCoreFeatureLicensed" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.LoginFacilityProvider>
        <ClearCanvas.Ris.Client.PrintReportComponentSettings>
            <setting name="CloseOnPrint" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Client.PrintReportComponentSettings>
        <ClearCanvas.Ris.Client.CannedTextSettings>
            <setting name="SummarySortColumnName" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="SummarySortAscending" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Client.CannedTextSettings>
        <ClearCanvas.Ris.Client.SearchComponentSettings>
            <setting name="KeepSearchComponentOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Ris.Client.SearchComponentSettings>
        <ClearCanvas.Ris.Client.WorklistEditorComponentSettings>
            <setting name="DefaultWorklistClass" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultWorklistCategory" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Ris.Client.WorklistEditorComponentSettings>
        <ClearCanvas.Ris.Client.FolderExplorerComponentSettings>
            <setting name="UserConfigurationXml" serializeAs="String">
                <value>FolderExplorerComponentUserSettings.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.FolderExplorerComponentSettings>
        <ClearCanvas.Ris.Client.HomePageSettings>
            <setting name="ShowHomepageOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreventHomepageFromClosing" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Client.HomePageSettings>
        <ClearCanvas.Ris.Client.OrderNoteboxFolderSystemSettings>
            <setting name="GroupFoldersXml" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Ris.Client.OrderNoteboxFolderSystemSettings>
        <ClearCanvas.Ris.Client.OrderNoteConversationComponentSettings>
            <setting name="PreferredOnBehalfOfGroupName" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Ris.Client.OrderNoteConversationComponentSettings>
        <ClearCanvas.Ris.Client.LoginDialogSettings>
            <setting name="SelectedFacility" serializeAs="String">
                <value/>
            </setting>
            <setting name="DialogScreenLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ClearCanvas.Ris.Client.LoginDialogSettings>
        <ClearCanvas.Ris.Client.WorkingFacilityLocalSettings>
            <setting name="SelectedFacility" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Ris.Client.WorkingFacilityLocalSettings>
        <ClearCanvas.Ris.Client.Common.DummySettings>
            <setting name="SomeBigXml" serializeAs="String">
                <value>SomeBigXml.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Common.DummySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
