<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Common.ExtensionSettings>
      <setting name="ExtensionConfigurationXml" serializeAs="Xml">
        <value>
          <extensions>
            <extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="true" />
            <extension class="ClearCanvas.Ris.Client.SessionManager, ClearCanvas.Ris.Client" enabled="true" />
          </extensions>
        </value>
      </setting>
    </ClearCanvas.Common.ExtensionSettings>
    <ClearCanvas.Common.ProductSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of ClearCanvas Workstation, causing the application to become uncertified.
      -->
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Component" serializeAs="String">
        <value>jL55pMp+3yM7A6LSOywdX1oRfRZd9RvJ</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>jL55pMp+3yM9uLAdmMqy1EZCbfkuN9/i</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value />
      </setting>
      <setting name="Release" serializeAs="String">
        <value>vKfTr+ue1fm9jaIYbfkY5g==</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>VKxO+YEu0ZE=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value>fVUdj3ffbKM=</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>SQpazixeCBA30oy6xn7RHcaFaSvZ+Kq0NSB5E0CX5FnMwKVsGGdeS1aGwshODViXSz4Bnz96xKc=</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>SQpazixeCBD4G1zRA+eXWmnmdyghNsy9xH+k4WdLXFMfaWDl3LS4tQYtLqUIcBrtB+Q5VOrUtfJMYLxZGFdG3I+hfAF1NGZxgba2Sjwevir/IRrs5yTU2fta4Ns+30cuUCwj5xNX+CoMkjFVYtMa6dLz/W3tec2HpuoWPe8OrdKZp8mx9ZYsGVSZxkTT6ewhiWooMqYRVjSBOvSEUOOknGcxbet4MefpiVvEpfCLszn+lZzkDTNNXmObl5+laO30j5a+3xlLEZxLJA+pSOVldlkTP0kKAM9kgxXyc0IMuOw=</value>
      </setting>
    </ClearCanvas.Common.ProductSettings>
  </applicationSettings>
</configuration>
