<configuration>
  <configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                       <section name="ClearCanvas.ImageServer.Services.Dicom.DicomSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageServer.Services.Dicom.DicomSettings>
            <setting name="ListenIPV6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListenIPV4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxQueryResponses" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BufferedQueryResponses" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CFINDRspAlwaysInUnicode" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.ImageServer.Services.Dicom.DicomSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
