<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.StudyManagement.Core.FileManagementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.StudyManagement.Core.WorkItemProcessor.WorkItemServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageViewer.StudyManagement.Core.FileManagementSettings>
            <setting name="FileProcessingDisposition" serializeAs="String">
                <value>Performance</value>
            </setting>
        </ClearCanvas.ImageViewer.StudyManagement.Core.FileManagementSettings>
        <ClearCanvas.ImageViewer.StudyManagement.Core.WorkItemProcessor.WorkItemServiceSettings>
            <setting name="NormalThreadCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StatThreadCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PostponeSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ExpireDelaySeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DeleteDelayMinutes" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="RetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StudyProcessBatchSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="InsertDelaySeconds" serializeAs="String">
                <value>0</value>
            </setting>
        </ClearCanvas.ImageViewer.StudyManagement.Core.WorkItemProcessor.WorkItemServiceSettings>
    </applicationSettings>
</configuration>