<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.StudyLoaders.Streaming.StreamingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageViewer.StudyLoaders.Streaming.StreamingSettings>
            <setting name="FormatWadoUriPrefix" serializeAs="String">
                <value>http://{0}:{1}/WADO</value>
            </setting>
            <setting name="FormatHeaderServiceUri" serializeAs="String">
                <value>http://{0}:{1}/HeaderStreaming/HeaderStreaming</value>
            </setting>
            <setting name="RetrieveConcurrency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SelectedWeighting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UnselectedWeighting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DecompressConcurrency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageWindow" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AvailableMemoryLimitMegabytes" serializeAs="String">
                <value>250</value>
            </setting>
        </ClearCanvas.ImageViewer.StudyLoaders.Streaming.StreamingSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
