<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.Help.AboutSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Help.HelpSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.Help.AboutSettings>
            <setting name="UseSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImageAssemblyName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageResourceName" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyrightLocation" serializeAs="String">
                <value>375, 340</value>
            </setting>
            <setting name="CopyrightSize" serializeAs="String">
                <value>286, 13</value>
            </setting>
            <setting name="CopyrightAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CopyrightFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionLocation" serializeAs="String">
                <value>447, 292</value>
            </setting>
            <setting name="VersionSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="VersionAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="VersionFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionTextFormat" serializeAs="String">
                <value>Version {0}</value>
            </setting>
            <setting name="LicenseVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseLocation" serializeAs="String">
                <value>617, 33</value>
            </setting>
            <setting name="LicenseSize" serializeAs="String">
                <value>44, 13</value>
            </setting>
            <setting name="LicenseAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LicenseFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="CloseButtonLinkColor" serializeAs="String">
                <value>60, 150, 208</value>
            </setting>
            <setting name="ManifestLocation" serializeAs="String">
                <value>447, 331</value>
            </setting>
            <setting name="ManifestSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="ManifestAutoSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManifestForeColor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="ManifestFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManifestTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="CloseButtonLocation" serializeAs="String">
                <value>659, 9</value>
            </setting>
            <setting name="CloseButtonAnchor" serializeAs="String">
                <value>TopRight</value>
            </setting>
            <setting name="EvaluationVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationLocation" serializeAs="String">
                <value>617, 33</value>
            </setting>
            <setting name="EvaluationSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="EvaluationAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationForeColor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="EvaluationFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationTextAlign" serializeAs="String">
                <value>TopRight</value>
            </setting>
            <setting name="NotForDiagnosticUseVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotForDiagnosticUseLocation" serializeAs="String">
                <value>617, 33</value>
            </setting>
            <setting name="NotForDiagnosticUseSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="NotForDiagnosticUseForeColor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="NotForDiagnosticUseAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotForDiagnosticUseFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotForDiagnosticUseTextAlign" serializeAs="String">
                <value>TopRight</value>
            </setting>
        </ClearCanvas.Desktop.Help.AboutSettings>
        <ClearCanvas.Desktop.Help.HelpSettings>
            <setting name="UserGuidePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WebsiteUrl" serializeAs="String">
                <value>http://clearcanvas.github.io</value>
            </setting>
            <setting name="LicenseDocument" serializeAs="String">
                <value>License.rtf</value>
            </setting>
        </ClearCanvas.Desktop.Help.HelpSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
