# Auto detect text files and perform LF normalization
* -text

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Other source files
*.h      diff=astextplain
*.c      diff=astextplain
*.sh     diff=astextplain
*.rb     diff=astextplain
*.css    diff=astextplain
*.js     diff=astextplain
*.csproj diff=astextplain
*.resx   diff=astextplain
*.html   diff=astextplain
*.txt    diff=astextplain
*.xml    diff=astextplain


# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
