<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Enterprise.Authentication.PasswordResetEmailSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Enterprise.Authentication.AuthenticationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Enterprise.Authentication.PasswordResetEmailSettings>
            <setting name="SubjectTemplate" serializeAs="String">
                <value>Your password has been reset</value>
            </setting>
            <setting name="BodyTemplate" serializeAs="String">
                <value>
&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt; 
 
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt; &lt;body&gt;Dear $USER,&lt;br/&gt;&lt;br&gt;Your new temporary password to the Web Portal is:&lt;br/&gt;
&lt;br/&gt;
 &lt;b&gt;$PASSWORD&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;You will be required to reset your password the next time you login the system.&lt;/body&gt;&lt;/html&gt;</value>
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value>noreply@example.com</value>
            </setting>
        </ClearCanvas.Enterprise.Authentication.PasswordResetEmailSettings>
        <ClearCanvas.Enterprise.Authentication.AuthenticationSettings>
            <setting name="PasswordExpiryDays" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultTemporaryPassword" serializeAs="String">
                <value>clearcanvas</value>
            </setting>
            <setting name="UserSessionTimeoutMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UserSessionTimeoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ValidPasswordRegex" serializeAs="String">
                <value>^.{8,1000}$</value>
            </setting>
            <setting name="ValidPasswordMessage" serializeAs="String">
                <value>Password must be at least 8 characters long.</value>
            </setting>
            <setting name="ApplicationWhiteList" serializeAs="String">
                <value />
            </setting>
            <setting name="HostNameWhiteList" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionTokenCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SessionTokenCachingTimeToLiveSeconds" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="AuthorityTokenCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthorityTokenCachingTimeToLiveSeconds" serializeAs="String">
                <value>180</value>
            </setting>
        </ClearCanvas.Enterprise.Authentication.AuthenticationSettings>  
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
