<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Layout.Basic.DisplaySetCreationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.ImageViewer.Layout.Basic.DefaultPatientReconciliationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ClearCanvas.ImageViewer.Layout.Basic.DisplaySetCreationSettings>
        <setting name="SingleImageModalities" serializeAs="String">
          <value>CR,DX,MG,KO</value>
        </setting>
        <setting name="MixedMultiframeModalities" serializeAs="String">
          <value>CT,MG,MR,NM,PT,RF,SC,US,XA</value>
        </setting>
        <setting name="AllImagesModalities" serializeAs="String">
          <value>CR,DX,ES,MG,RF,US,XA,KO</value>
        </setting>
      </ClearCanvas.ImageViewer.Layout.Basic.DisplaySetCreationSettings>
      <ClearCanvas.ImageViewer.Layout.Basic.DefaultPatientReconciliationSettings>
        <setting name="PatientReconciliationRulesXml" serializeAs="Xml">
          <value>
            <patient-reconciliation-rules/>
          </value>
        </setting>
        <setting name="SearchReconciliationRulesXml" serializeAs="Xml">
          <value>
            <search-reconciliation-rules/>
          </value>
        </setting>
      </ClearCanvas.ImageViewer.Layout.Basic.DefaultPatientReconciliationSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
