<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Enterprise.Configuration.ConfigurationStoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Enterprise.Configuration.ConfigurationStoreSettings>
            <setting name="ConfigurationCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigurationCachingTimeToLiveSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SettingsMetadataCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsMetadataCachingTimeToLiveSeconds" serializeAs="String">
                <value>180</value>
            </setting>
        </ClearCanvas.Enterprise.Configuration.ConfigurationStoreSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
