<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Application.Services.WorkingFacilitySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Application.Services.Admin.PatientAdmin.PatientAdminSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Application.Services.Printing.PrintSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Application.Services.LogicalHL7EventSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Application.Services.OrderNoteSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Application.Services.WorklistSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Ris.Application.Services.WorkingFacilitySettings>
            <setting name="WorkingFacilityCode" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Ris.Application.Services.WorkingFacilitySettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.Ris.Application.Services.Admin.PatientAdmin.PatientAdminSettings>
            <setting name="AutoGenerateMrn" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.Admin.PatientAdmin.PatientAdminSettings>
        <ClearCanvas.Ris.Application.Services.Printing.PrintSettings>
            <setting name="ConverterProgram" serializeAs="String">
                <value>C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe</value>
            </setting>
            <setting name="ConverterOptions" serializeAs="String">
                <value>--disable-smart-shrinking -s Letter -R 25 -L 25</value>
            </setting>
            <setting name="ConverterTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HttpProxyServerPort" serializeAs="String">
                <value>55355</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.Printing.PrintSettings>
        <ClearCanvas.Ris.Application.Services.LogicalHL7EventSettings>
            <setting name="LogicalHL7EventsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.LogicalHL7EventSettings>
        <ClearCanvas.Ris.Application.Services.OrderNoteSettings>
            <setting name="ItemsPerPage" serializeAs="String">
                <value>100</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.OrderNoteSettings>
        <ClearCanvas.Ris.Application.Services.WorklistSettings>
            <setting name="MaxPersonalOwnedWorklists" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxGroupOwnedWorklists" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UserIndependentWorklistItemCountCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserIndependentWorklistItemCountCachingTimeToLiveSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UserDependentWorklistItemCountCachingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserDependentWorklistItemCountCachingTimeToLiveSeconds" serializeAs="String">
                <value>30</value>
            </setting>
        </ClearCanvas.Ris.Application.Services.WorklistSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
