<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
 </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings>
      <setting name="WorkQueueQueryDelay" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="EnableStudyIntegrityValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WorkQueueThreadCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PriorityWorkQueueThreadCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MemoryLimitedWorkQueueThreadCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="WorkQueueMinimumFreeMemoryMB" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="TierMigrationProgressUpdateInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
    </ClearCanvas.ImageServer.Services.WorkQueue.WorkQueueSettings>
  </applicationSettings>
</configuration>
