<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Common.Configuration.Tests.NonMigratableSharedSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.MixedScopeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.LocalMixedScopeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.ExtendedLocalMixedScopeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.LocalXmlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.ExtendedLocalXmlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Common.Configuration.Tests.SimpleUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.MixedScopeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.LocalMixedScopeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Common.Configuration.Tests.ExtendedLocalMixedScopeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Common.Configuration.Tests.LocalXmlSettings>
      <setting name="App" serializeAs="Xml">
        <value>
          <test-xml-values>
            <test>PreviousApp</test>
          </test-xml-values>
        </value>
      </setting>
      <setting name="User" serializeAs="Xml">
        <value/>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.LocalXmlSettings>
    <ClearCanvas.Common.Configuration.Tests.ExtendedLocalXmlSettings>
      <setting name="App" serializeAs="Xml">
        <value>
          <test-xml-values>
            <test>PreviousApp</test>
          </test-xml-values>
        </value>
      </setting>
      <setting name="User" serializeAs="Xml">
        <value/>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.ExtendedLocalXmlSettings>
    <ClearCanvas.Common.Configuration.Tests.NonMigratableSharedSettings>
      <setting name="App" serializeAs="String">
        <value>PreviousApp</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.NonMigratableSharedSettings>
    <ClearCanvas.Common.Configuration.Tests.LocalMixedScopeSettings>
      <setting name="App1" serializeAs="String">
        <value>PreviousApp1</value>
      </setting>
      <setting name="App2" serializeAs="String">
        <value>PreviousApp2</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.LocalMixedScopeSettings>
    <ClearCanvas.Common.Configuration.Tests.ExtendedLocalMixedScopeSettings>
      <setting name="App1" serializeAs="String">
        <value>PreviousApp1</value>
      </setting>
      <setting name="App2" serializeAs="String">
        <value>PreviousApp2</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.ExtendedLocalMixedScopeSettings>
    <ClearCanvas.Common.Configuration.Tests.MixedScopeSettings>
      <setting name="App1" serializeAs="String">
        <value>PreviousApp1</value>
      </setting>
      <setting name="App2" serializeAs="String">
        <value>PreviousApp2</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.MixedScopeSettings>
  </applicationSettings>
  <userSettings>
    <ClearCanvas.Common.Configuration.Tests.SimpleUserSettings>
      <setting name="User" serializeAs="String">
        <value>PreviousUser</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.SimpleUserSettings>
    <ClearCanvas.Common.Configuration.Tests.LocalMixedScopeSettings>
      <setting name="User1" serializeAs="String">
        <value>PreviousDefaultUser1</value>
      </setting>
      <setting name="User2" serializeAs="String">
        <value>PreviousDefaultUser2</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.LocalMixedScopeSettings>
    <ClearCanvas.Common.Configuration.Tests.ExtendedLocalMixedScopeSettings>
      <setting name="User1" serializeAs="String">
        <value>PreviousDefaultUser1</value>
      </setting>
      <setting name="User2" serializeAs="String">
        <value>PreviousDefaultUser2</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.ExtendedLocalMixedScopeSettings>
    <ClearCanvas.Common.Configuration.Tests.MixedScopeSettings>
      <setting name="User1" serializeAs="String">
        <value>PreviousDefaultUser1</value>
      </setting>
      <setting name="User2" serializeAs="String">
        <value>PreviousDefaultUser2</value>
      </setting>
    </ClearCanvas.Common.Configuration.Tests.MixedScopeSettings>
  </userSettings>
</configuration>