<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Enterprise.Common.ServiceHostCertificateSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Enterprise.Common.ServiceHostSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Enterprise.Common.ServiceHostCertificateSettings>
            <setting name="CertificateFindValueProviderClass" serializeAs="String">
                <value/>
            </setting>
            <setting name="CertificateStoreLocation" serializeAs="String">
                <value>LocalMachine</value>
            </setting>
            <setting name="CertificateStoreName" serializeAs="String">
                <value>My</value>
            </setting>
            <setting name="CertificateFindValue" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Enterprise.Common.ServiceHostCertificateSettings>
        <ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
            <setting name="BaseUrl" serializeAs="String">
                <value>net.tcp://localhost:8000/</value>
            </setting>
            <setting name="ConfigurationClass" serializeAs="String">
                <value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
            </setting>
            <setting name="MaxReceivedMessageSize" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="CertificateValidationMode" serializeAs="String">
                <value>PeerOrChainTrust</value>
            </setting>
            <setting name="RevocationMode" serializeAs="String">
                <value>NoCheck</value>
            </setting>
            <setting name="UserCredentialsProviderClass" serializeAs="String">
                <value/>
            </setting>
            <setting name="FailoverBaseUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConfigurationServiceResponseCachingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FailedEndpointBlackoutTime" serializeAs="String">
                <value>00:01:00</value>
            </setting>
        </ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
