<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings">
      <section name="ClearCanvas.Server.ShredHost.ShredHostServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Server.ShredHost.ShredHostServiceSettings>
      <setting name="ShredHostHttpPort" serializeAs="String">
        <value>50220</value>
      </setting>
      <setting name="SharedHttpPort" serializeAs="String">
        <value>50221</value>
      </setting>
      <setting name="SharedTcpPort" serializeAs="String">
        <value>4520</value>
      </setting>
    </ClearCanvas.Server.ShredHost.ShredHostServiceSettings>
  </applicationSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Streamed" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>					
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
		</client>
		<services>
			<service name="ClearCanvas.ImageServer.Services.Streaming.HeaderStreaming.HeaderStreamingService" behaviorConfiguration="HeaderStreamServiceBehavior"/>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="HeaderStreamServiceBehavior">
					<serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="32" maxConcurrentInstances="32"/>							
				</behavior>	
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="common;plugins"/>
		</assemblyBinding>
	</runtime>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
