<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageServer.Web.Common.PageSettings.AboutPage" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.ImageServer.Web.Common.UISettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.ImageServer.Web.Common.WebControls.UI.UISettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            </sectionGroup>
    </configSections>
    <system.serviceModel>
        
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFilesystemService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50221/FilesystemService/FilesystemService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFilesystemService" contract="ClearCanvas.ImageServer.Web.Common.FilesystemServiceProxy.IFilesystemService" name="WSHttpBinding_IFilesystemService">
                
            </endpoint>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ClearCanvas.ImageServer.Web.Common.PageSettings.AboutPage>
            <setting name="UsersGuideUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="DocumentationUrl" serializeAs="String">
                <value>http://www.clearcanvas.ca/dnn/Resources/Documentation/tabid/107/Default.aspx</value>
            </setting>
        </ClearCanvas.ImageServer.Web.Common.PageSettings.AboutPage>
        <ClearCanvas.ImageServer.Web.Common.UISettings>
            <setting name="TimeFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="NameFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="TimestampFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss.fff</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.ImageServer.Web.Common.UISettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
