<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.StudyLoaders.Local.PreLoadingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageViewer.StudyLoaders.Local.PreLoadingSettings>
            <setting name="Concurrency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameLookAheadCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SelectedImageBoxWeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UnselectedImageBoxWeight" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoadAllFrames" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.ImageViewer.StudyLoaders.Local.PreLoadingSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
