<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Application.Common.WorkflowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Application.Common.AttachedDocumentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Application.Common.AttachedDocumentFtpSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Application.Common.WorkflowSettings>
            <setting name="EnableTranscriptionWorkflow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableInterpretationReviewWorkflow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTranscriptionReviewWorkflow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableVisitWorkflow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowUnscheduledProcedures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoGenerateMrn" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Application.Common.WorkflowSettings>
        <ClearCanvas.Ris.Application.Common.AttachedDocumentSettings>
            <setting name="FtpUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPassiveMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FtpBaseUrl" serializeAs="String">
                <value>ftp://localhost</value>
            </setting>
            <setting name="DownloadCacheTimeToLive" serializeAs="String">
                <value>60</value>
            </setting>
        </ClearCanvas.Ris.Application.Common.AttachedDocumentSettings>
        <ClearCanvas.Ris.Application.Common.AttachedDocumentFtpSettings>
            <setting name="FtpUserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="FtpPassiveMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FtpBaseUrl" serializeAs="String">
                <value>ftp://localhost</value>
            </setting>
            <setting name="DownloadCacheTimeToLive" serializeAs="String">
                <value>60</value>
            </setting>
        </ClearCanvas.Ris.Application.Common.AttachedDocumentFtpSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
