<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Utilities.StudyFilters.StudyFilterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Utilities.StudyFilters.StudyFilterSettings>
            <setting name="Columns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Filename</string>
                        <string>FileSize</string>
                        <string>00100020</string>
                        <string>00100010</string>
                        <string>00100030</string>
                        <string>00200010</string>
                        <string>00080050</string>
                        <string>00080020</string>
                        <string>00081030</string>
                        <string>00080060</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ClearCanvas.ImageViewer.Utilities.StudyFilters.StudyFilterSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
