<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.Shreds.DicomServer.DicomServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Shreds.LocalDataStore.LocalDataStoreServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.ImageViewer.Shreds.DiskspaceManager.DiskspaceManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageViewer.Shreds.DicomServer.DicomServerSettings>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="AETitle" serializeAs="String">
                <value>CLEARCANVAS</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="InterimStorageDirectory" serializeAs="String">
                <value>.\dicom_interim</value>
            </setting>
            <setting name="AllowUnknownCaller" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueryResponsesInUtf8" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.ImageViewer.Shreds.DicomServer.DicomServerSettings>
        <ClearCanvas.ImageViewer.Shreds.LocalDataStore.LocalDataStoreServiceSettings>
            <setting name="StorageDirectory" serializeAs="String">
                <value>c:\dicom_datastore\filestore\</value>
            </setting>
            <setting name="BadFileDirectory" serializeAs="String">
                <value>c:\dicom_datastore\badfiles\</value>
            </setting>
            <setting name="SendReceiveImportConcurrency" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DatabaseUpdateFrequencyMilliseconds" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PurgeTimeMinutes" serializeAs="String">
                <value>120</value>
            </setting>
        </ClearCanvas.ImageViewer.Shreds.LocalDataStore.LocalDataStoreServiceSettings>
        <ClearCanvas.ImageViewer.Shreds.DiskspaceManager.DiskspaceManagerSettings>
            <setting name="LowWatermark" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="HighWatermark" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CheckFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnforceStudyLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StudyLimit" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MinStudyLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxStudyLimit" serializeAs="String">
                <value>10000</value>
            </setting>
        </ClearCanvas.ImageViewer.Shreds.DiskspaceManager.DiskspaceManagerSettings>
    </applicationSettings>
</configuration>