<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString" connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer" providerName="System.Data.SqlClient"/>
		<add name="MonarchConnectString" connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=MigrationTool" providerName="System.Data.SqlClient"/>
    <add name="UsageTrackingConnectString" connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=UsageTracking" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
