<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClearCanvas.ImageServer.Common.EnterpriseImageServerServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="ClearCanvas.ImageServer.Common.ProductManifestServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ClearCanvas.ImageServer.Common.WebServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageServer.Common.Diagnostics.DiagnosticSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageServer.Common.Debug" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageServer.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<applicationSettings>

		<ClearCanvas.ImageServer.Common.EnterpriseImageServerServiceSettings>
   <setting name="BaseUrl" serializeAs="String">
    <value>http://localhost:9998/</value>
   </setting>
   <setting name="FailoverBaseUrl" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigurationClass" serializeAs="String">
    <value>ClearCanvas.ImageServer.Common.ClientWsHttpConfiguration, ClearCanvas.ImageServer.Common</value>
   </setting>
   <setting name="MaxReceivedMessageSize" serializeAs="String">
    <value>2000000</value>
   </setting>
   <setting name="CertificateValidationMode" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="RevocationMode" serializeAs="String">
    <value>NoCheck</value>
   </setting>
   <setting name="UserCredentialsProviderClass" serializeAs="String">
    <value />
   </setting>
   <setting name="SendTimeoutSeconds" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SecurityMode" serializeAs="String">
    <value>None</value>
   </setting>
  </ClearCanvas.ImageServer.Common.EnterpriseImageServerServiceSettings>
  <ClearCanvas.ImageServer.Common.ProductManifestServiceSettings>
   <setting name="BaseUrl" serializeAs="String">
    <value>http://localhost:9998/</value>
   </setting>
   <setting name="FailoverBaseUrl" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigurationClass" serializeAs="String">
    <value>ClearCanvas.ImageServer.Common.ClientWsHttpConfiguration, ClearCanvas.ImageServer.Common</value>
   </setting>
   <setting name="MaxReceivedMessageSize" serializeAs="String">
    <value>2000000</value>
   </setting>
   <setting name="CertificateValidationMode" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="RevocationMode" serializeAs="String">
    <value>NoCheck</value>
   </setting>
   <setting name="UserCredentialsProviderClass" serializeAs="String">
    <value />
   </setting>
  </ClearCanvas.ImageServer.Common.ProductManifestServiceSettings>
  <ClearCanvas.ImageServer.Common.WebServicesSettings>
   <setting name="BaseUri" serializeAs="String">
    <value>http://localhost:9998</value>
   </setting>
   <setting name="RestBaseUri" serializeAs="String">
    <value>http://localhost/ImageServer</value>
   </setting>
   <setting name="RestBaseSecureUri" serializeAs="String">
    <value>https://localhost/ImageServer</value>
   </setting>
  </ClearCanvas.ImageServer.Common.WebServicesSettings>

		<ClearCanvas.ImageServer.Common.Diagnostics.DiagnosticSettings>
			<setting name="SimulateEditError" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SimulateFileIOError" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SimulateTierMigrationError" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SimulateFileCorruption" serializeAs="String">
				<value>False</value>
			</setting>
		</ClearCanvas.ImageServer.Common.Diagnostics.DiagnosticSettings>
		<ClearCanvas.ImageServer.Common.Settings>
   <setting name="StudyHeaderIncludePrivateTags" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StudyHeaderIncludeUNTags" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StudyHeaderMaxValueLength" serializeAs="String">
    <value>4096</value>
   </setting>
   <setting name="DefaultStudyRootFolder" serializeAs="String">
    <value>Unknown</value>
   </setting>
   <setting name="FilesystemCheckDelaySeconds" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="DbChangeDelaySeconds" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="UseReceiveDateAsFolder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TooManyStudyMoveWarningThreshold" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="DeviceConfig_MaxConnections" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="TemporaryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="InstanceLogging" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MinStorageRequiredInMB" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="WorkQueueMaxFailureCount" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="InactiveWorkQueueMinTime" serializeAs="String">
    <value>2.00:00:00</value>
   </setting>
   <setting name="AllowedConvertToUnicodeOnEdit" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OverrideDuplicatePolicyForStudyUIDs" serializeAs="String">
    <value />
   </setting>
  </ClearCanvas.ImageServer.Common.Settings>

	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
