.ReconcilePanel
{
    background:#dddddd; 
    border: solid 1px #205F87;
}

.StudyInstanceUIDMessage
{
    text-align: center; 
    padding: 4px; 
    margin-left: 10px;
    margin-right: 10px;
    background: #ffffcc url(../../../../PersistantImage.ashx?key=ErrorMessageBackground) repeat-x; 
    color: red;
    border: solid 1px red; 
    font-family: Sans-Serif; 
    font-size: 12px; 
    font-weight: bold;
}

.ReconcileHeaderRow
{
    color: #205F87;
    text-align: center; 
    font-weight:bold;
    background: #dddddd url(../../../../PersistantImage.ashx?key=HeadingBackground) repeat-x top;
}

.ReconcileHeaderRow td
{
    padding: 8px 0px 8px 0px; 
}

.ConflictingStudyTitle
{

}

.StudyInformation
{
    margin: 6px 10px 0px 10px; 
    padding: 4px;
    border: solid 1px #205F87; 
    background: #CCCCCC url(../../../../PersistantImage.ashx?key=DialogBodyBackground) repeat-x bottom;
}

.SeriesInformation
{
    margin: 0px 0px 0px 6px; 
    padding: 0px;
    text-align: center;
}

.Separator
{  
    border-left: dashed 2px #618FAD;
    border-right: dashed 2px #618FAD;
    padding: 0px;
}

.HeadingLabel
{
    color: #16425D;
}

.ReconcileFieldLabel
{
	white-space:pre;
}

.SeriesTitle
{
    color: #16425D;
    background: #B8D8EE url(../../../../PersistantImage.ashx?key=SubHeadingBackground) repeat-x;
    padding: 2px 0px 2px 6px;
    font-weight: bold;
    border-left: solid 1px #16425D;
    border-right: solid 1px #16425D;
    border-bottom: solid 1px #16425D;
}

.ReconcileGridViewPanel
{
    width: 100%; 
    height: 180px;
    overflow: auto; 
    background: #FFFFFF; 
    border-left: solid 1px #16425D; 
    border-right: solid 1px #16425D; 
    border-bottom: solid 1px #16425D;
}

.ReconcileSeriesGridViewRow
{
    font-size: 12px;
 }

.ReconcileSeriesGridViewRow td
{
    border-bottom: solid 1px #cccccc;
    border-left: solid 0px white;
    border-right: solid 0px white;
    padding: 2px;
}

.ReconcileSeriesGridViewHeader
{
    font-size: 12px;
    color: #16425D;
    background: #dfdfdf;
}

.ReconcileSeriesGridViewHeader td
{
    border-bottom: solid 1px #black;
    padding: 2px;
}

.ReconcileSeriesGridView
{
    margin: 0px;
    padding: 4px;
}

.ReconcileButtonsTable
{
    background: #B8D8EE url(../../../../PersistantImage.ashx?key=ReconcileButtonBackground) repeat-x bottom;
    border-left: solid 1px #16425D;
    border-right: solid 1px #16425D;
    border-bottom: solid 1px #16425D;
    color: #16425D;
}

.MergeDemographicsMessage
{
    font-size: 12px;
    text-align: center;
    background: #B8D8EE;
    padding: 2px 4px 4px 4px;
}

.ConflictingValueLabel
{

    color:Red;
}

.UnknownSexMessage
{
    padding-left: 5px;
    font-size: 10px;
    color: Red;
    vertical-align: middle;
    text-decoration: none;
}

.OverwritewWarningPanel
{
	border-right: red 1px solid;
	border-top: red 1px solid;
	border-left: red 1px solid;
	border-bottom: red 1px solid;
	padding: 5px;
	background-color: #ffffcc;
	color: #ff3333;
}

.AdditionalInformationPanel
{
    border: solid 1px #205F87; 
    background: white;
}


.AdditionalInfoSectionHeader
{
	width:100%;
	color: #16425D;
    background: #B8D8EE url(../../../../PersistantImage.ashx?key=SubHeadingBackground) repeat-x;
    font-weight: bold;
    border-top: solid 1px #16425D;
    border-bottom: solid 1px #16425D;
    padding-left:2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 2px;
}

.ComparisonSectionHeader
{
	border-top: none;
}
.FilesystemSectionHeader
{
   
}

.ReconcileComparisonResultGridView
{
    font-size: 12px;
    width: 100%; 
    overflow: auto; 
    background: #FFFFFF; 
    border-left: solid 1px #16425D; 
    border-right: solid 1px #16425D; 
    border-bottom: solid 1px #16425D;
}

.ReconcileComparisonResultGridViewRow
{
    
}

.ReconcileComparisonResultGridViewRow td
{
    padding:5px;
}

.ReconcileComparisonResultGridViewHeader
{
	color: #16425D;
    background: #dfdfdf;
}

.ReconcileComparisonResultGridViewHeader th
{
	padding-left:5px;
}

.DuplicateDialogSeriesPanel
{
	margin:5px;
}
.DuplicateDialogSeriesTable
{
	border-right: #cccc99 1px dotted;
	border-top: #cccc99 1px dotted;
	border-left: #cccc99 1px dotted;
	border-bottom: #cccc99 1px dotted;
	padding:5px;
}
.DuplicateDialogSeriesTableHeader
{
	background-color: #cccccc;
}