<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- Define some output appenders -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%d [%t] %-5p - %message%newline" />
	</layout>
  </appender>

  <appender name="RollingLogFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
	<param name="File" value=".\\logs\\ClearCanvas_ImageServer_Webstation_" />
	<param name="AppendToFile" value="true" />
	<param name="MaxSizeRollBackups" value="20" />
	<param name="MaximumFileSize" value="10MB" />
	<param name="RollingStyle" value="Composite" />
	<param name="datePattern" value="yyyy-MM-dd.lo\g" />
	<param name="StaticLogFileName" value="false" />
	<param name="PreserveLogFileNameExtension" value="true" />
	<encoding value="utf-8" />
	<layout type="log4net.Layout.PatternLayout">
	  <param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
	</layout>
	<lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <param name="ReconnectOnError" value="true"/>
    <param name="BufferSize" value="1"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	<connectionString value="data source=localhost;initial catalog=ImageServer;integrated security=false;persist security info=True;User ID=sa;Password=clearcanvas" />
    <commandText value="INSERT INTO ApplicationLog ([Host],[Timestamp],[Thread],[LogLevel],[Message],[Exception]) VALUES (@host, @log_date, @thread, @log_level, @message, @exception)" />

    <parameter>
      <parameterName value="@host" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="3000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>

  <appender name="RenderingStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\RenderingStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

    <appender name="TileMessageProcessingStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\TileMessageProcessingStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <appender name="ClientRenderingStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\ClientRenderingStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

    <appender name="ClientArrivalStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\ClientArrivalStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <appender name="ClientDeliveryStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\ClientDeliveryStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <appender name="ClientStackRenderingStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\ClientStackRenderingStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <appender name="MessagingStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\MessagingStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

    <appender name="EventDeliveryStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\EventDeliveryStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <appender name="SerializationStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\SerializationStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>
  
  <appender name="DeserializationStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\DeserializationStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>
  
  <appender name="ApplicationServiceStatsFileAppender" type="ClearCanvas.Common.log4net.RollingFileAppender, ClearCanvas.Common">
    <param name="File" value=".\\logs\\ApplicationServiceStats.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="0" />
    <param name="MaximumFileSize" value="256KB" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <lockingModel type="ClearCanvas.Common.log4net.FileAppender+MutexLock, ClearCanvas.Common" />
  </appender>

  <!-- Setup the root category, add the appenders and set the default level -->
  <root>
	<level value="INFO" />
	<appender-ref ref="RollingLogFileAppender" />
	<appender-ref ref="ConsoleAppender" />
	<appender-ref ref="AdoNetAppender" />
  </root>
  <logger name="TileView.MessageProcessing" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="TileMessageProcessingStatsFileAppender"/>
  </logger>
  <logger name="TileView.Rendering.Server" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="RenderingStatsFileAppender"/>
  </logger>
  <logger name="TileView.Rendering.Client" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="ClientRenderingStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService.ClientDelivery" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="ClientDeliveryStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService.ClientArrival" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="ClientArrivalStatsFileAppender"/>
  </logger>
  <logger name="TileView.Rendering.Client.Stacking" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="ClientStackRenderingStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="ApplicationServiceStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService.Messaging" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="MessagingStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService.EventDelivery" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="EventDeliveryStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService.Serialization" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="SerializationStatsFileAppender"/>
  </logger>
  <logger name="ApplicationService.Deserialization" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="DeserializationStatsFileAppender"/>
  </logger>
</log4net>
