<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Healthcare.ProcedureBuilderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Healthcare.Printing.LetterheadSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Healthcare.LogicalHL7EventSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Healthcare.EntityValidationRulesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Healthcare.WorklistSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Healthcare.EntityValidationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Healthcare.Workflow.Reporting.ReportingWorkflowSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Healthcare.Alerts.AlertsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Healthcare.TelephoneNumberSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Healthcare.ProcedureBuilderSettings>
            <setting name="RootProcedurePlanXml" serializeAs="String">
                <value>ProcedureBuilderRootProcedurePlan.xml</value>
            </setting>
        </ClearCanvas.Healthcare.ProcedureBuilderSettings>
        <ClearCanvas.Healthcare.Printing.LetterheadSettings>
            <setting name="LetterheadFacilityTitle" serializeAs="String">
                <value>TotallyRAD</value>
            </setting>
            <setting name="LetterheadFacilitySubtitle" serializeAs="String">
                <value>Medical Imaging Centre</value>
            </setting>
            <setting name="LetterheadLogoFile" serializeAs="String">
                <value>logo.jpg</value>
            </setting>
            <setting name="LetterheadPhone" serializeAs="String">
                <value>Phone: (555) 555-5555</value>
            </setting>
            <setting name="LetterheadFax" serializeAs="String">
                <value>Fax: (555) 555-5555</value>
            </setting>
            <setting name="LetterheadEmail" serializeAs="String">
                <value>Email: info@totallyrad.ca</value>
            </setting>
            <setting name="LetterheadAddressStreet" serializeAs="String">
                <value>123 Any St.</value>
            </setting>
            <setting name="LetterheadAddressUnit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LetterheadAddressCity" serializeAs="String">
                <value>Anywhere</value>
            </setting>
            <setting name="LetterheadAddressProvince" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="LetterheadAddressPostalCode" serializeAs="String">
                <value>A1B 2C3</value>
            </setting>
            <setting name="MultiFacilityLetterheadsXml" serializeAs="Xml">
                <value>
                    <letterheads>
                        <!-- The facility code in each letterhead definition should be unique.-->
                        <!-- If a facility is not defined or if a node/attribute is not defined, the default value will be used -->
                        <letterhead>
                            <facility code="E" logo="logo.jpg" title="Totally Rad" subtitle="Medical Imaging Centre" />
                            <phone>Phone: (555) 555-5555</phone>
                            <fax>Fax: (555) 555-5555</fax>
                            <email>Email: info@totallyrad.ca</email>
                            <address unit="100" street="123 Any St." city="Anywhere" province="ON"
                                postalCode="A1B 2C3" />
                        </letterhead>
                    </letterheads>
                </value>
            </setting>
        </ClearCanvas.Healthcare.Printing.LetterheadSettings>
        <ClearCanvas.Healthcare.LogicalHL7EventSettings>
            <setting name="EnableEvents" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Healthcare.LogicalHL7EventSettings>
        <ClearCanvas.Healthcare.EntityValidationRulesSettings>
            <setting name="CustomRulesXml" serializeAs="String">
                <value>EntityValidationRules.xml</value>
            </setting>
        </ClearCanvas.Healthcare.EntityValidationRulesSettings>
        <ClearCanvas.Healthcare.WorklistSettings>
            <setting name="TimeWindowRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeWindowMaxSpanDays" serializeAs="String">
                <value>14</value>
            </setting>
        </ClearCanvas.Healthcare.WorklistSettings>
        <ClearCanvas.Healthcare.EntityValidationSettings>
            <setting name="CustomRulesXml" serializeAs="String">
                <value>EntityValidationRules.xml</value>
            </setting>
        </ClearCanvas.Healthcare.EntityValidationSettings>
        <ClearCanvas.Healthcare.Workflow.Reporting.ReportingWorkflowSettings>
            <setting name="PublicationDelay" serializeAs="String">
                <value>600</value>
            </setting>
        </ClearCanvas.Healthcare.Workflow.Reporting.ReportingWorkflowSettings>
        <ClearCanvas.Healthcare.Alerts.AlertsSettings>
            <setting name="CommonSpokenLanguages" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="MissingHealthcardInfoTriggersIncompleteDemographicDataAlert"
                serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Healthcare.Alerts.AlertsSettings>
        <ClearCanvas.Healthcare.TelephoneNumberSettings>
            <setting name="DefaultCountryCode" serializeAs="String">
                <value>1</value>
            </setting>
        </ClearCanvas.Healthcare.TelephoneNumberSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
