<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Explorer.Local.View.WinForms.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Explorer.Local.View.WinForms.Settings>
            <setting name="FolderViewMode" serializeAs="String">
                <value>LargeIcon</value>
            </setting>
            <setting name="ToolbarIconSize" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="HomeLocation" serializeAs="String">
                <value>MyComputer</value>
            </setting>
        </ClearCanvas.ImageViewer.Explorer.Local.View.WinForms.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
