<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<ClearCanvas.Common.ExtensionSettings>
			<setting name="ExtensionConfigurationXml" serializeAs="Xml">
				<value>
					<extensions>
						<extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Common.InProcessImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Common.EnterpriseImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="true" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, ClearCanvas.ImageServer.Services.Common" enabled="true" />

						<extension class="ClearCanvas.Enterprise.Common.EnterpriseTimeProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Alert.AlertService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.FilesystemInfoService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.ProductVerificationService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseConfigurationStore, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseSettingsStore, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Measurement.CalibrationTool, ClearCanvas.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Measurement.RectangularRoiTool, ClearCanvas.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Measurement.PolygonalRoiTool, ClearCanvas.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.ClearCustomShuttersTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.EditHistoryTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.CineTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.DrawShutterTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Layout.Basic.LayoutTool, ClearCanvas.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.TextCalloutTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Tools.Standard.MagnificationTool, ClearCanvas.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Layout.Basic.PriorStudyFinder, ClearCanvas.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Layout.Basic.PriorStudyLoaderExceptionPolicy, ClearCanvas.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.Web.Server.ImageServer.ImageServerStudyLoader, ClearCanvas.ImageViewer.Web.Server.ImageServer" enabled="false" />
						<extension class="ClearCanvas.ImageViewer.StudyLoaders.Streaming.WebStation.WebStationStreamingStudyLoader, ClearCanvas.ImageViewer.StudyLoaders.Streaming" enabled="true" />
					</extensions>
				</value>
			</setting>
		</ClearCanvas.Common.ExtensionSettings>
	</applicationSettings>
</configuration>