<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
				connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

