<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings">
			<section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<ClearCanvas.Common.ExtensionSettings>

			<setting name="ExtensionConfigurationXml" serializeAs="Xml">

				<value>

					<extensions>
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.ProductVerificationService, ClearCanvas.ImageServer.Services.Common" enabled="true" />						
						<extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Common.InProcessImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="true" />
						<extension class="ClearCanvas.ImageServer.Common.RemoteImageServerServiceProvider, ClearCanvas.ImageServer.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, ClearCanvas.ImageServer.Services.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.EnterpriseTimeProvider, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.Enterprise.Common.Audit.AuditSink, ClearCanvas.Enterprise.Common" enabled="false" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Alert.AlertService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
						<extension class="ClearCanvas.ImageServer.Services.Common.Misc.FilesystemInfoService, ClearCanvas.ImageServer.Services.Common" enabled="true" />
					</extensions>

				</value>

			</setting>

		</ClearCanvas.Common.ExtensionSettings>
	</applicationSettings>
</configuration>

