<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings">
			<section name="ClearCanvas.ImageServer.Common.WebServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		</sectionGroup>

	</configSections>
	<applicationSettings>
		<ClearCanvas.ImageServer.Common.WebServicesSettings>
			<setting name="BaseUri" serializeAs="String">
				<value>http://localhost:9998</value>
			</setting>
		</ClearCanvas.ImageServer.Common.WebServicesSettings>

	</applicationSettings>
	<userSettings>
		
	</userSettings>

	<appSettings>
		<!--
    IMPORTANT: this timeout is specific to the ImageServer, and when it is exceeded,
    any ImageServer web pages, including Web Viewers, will become inaccessible.
    
    It is important to educate users about the behaviour of the software, ensuring
    they understand that if they walk away from their workstation without explicitly logging out
    of ImageServer, that they are leaving a potential security hole that can compromise patient privacy.
    For example, the "Studies" screen can still be accessed and used and any visible Web Viewer tabs can
    simply be refreshed in order to gain access to images.
    
    For these reasons, we recommend that:
      - The Application Service "inactivity" and ImageServer "session" timeouts be less than or equal to 10 minutes.
      - The Application Service "inactivity" timeout always be less than or equal to the ImageServer "session" timeout.
      - The Application Service "inactivity" timeout and ImageServer "session" timeout be the same so as to avoid
        any confusion between the Web Viewer and ImageServer timeouts.
      
    See the notes above for "ClearCanvas.Web.Services.ApplicationServiceSettings".
    -->
		<add key="SessionTimeout" value="15"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
				connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00"
						 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom"
						 textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							   maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>

		</bindings>
	</system.serviceModel>
</configuration>

