<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Clipboard.ImageExport.AviExportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.ImageViewer.Clipboard.ImageExport.ImageExportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Clipboard.ImageExport.AviExportSettings>
            <setting name="ExportOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseDefaultQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PreferredCodecFccCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="SizeMode" serializeAs="String">
                <value>Scale</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </ClearCanvas.ImageViewer.Clipboard.ImageExport.AviExportSettings>
        <ClearCanvas.ImageViewer.Clipboard.ImageExport.ImageExportSettings>
            <setting name="SelectedImageExporterId" serializeAs="String">
                <value>Jpg</value>
            </setting>
            <setting name="SelectedImageExportOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeMode" serializeAs="String">
                <value>Scale</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </ClearCanvas.ImageViewer.Clipboard.ImageExport.ImageExportSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
