<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.ImageViewer.Tools.MedicalPhysics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Tools.MedicalPhysics.Properties.Settings>
            <setting name="GammaCameraSourceSerialNumber" serializeAs="String">
                <value>BM01L2020345101</value>
            </setting>
            <setting name="GammaCameraSourceActivity" serializeAs="String">
                <value>740</value>
            </setting>
            <setting name="GammaCameraSourceIsotope" serializeAs="String">
                <value>Cobalt-57</value>
            </setting>
            <setting name="GammaCameraSourceRerefenceDate" serializeAs="String">
                <value>2021-01-09</value>
            </setting>
        </ClearCanvas.ImageViewer.Tools.MedicalPhysics.Properties.Settings>
    </userSettings>
</configuration>