<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Shreds.HL7.LogicalHL7EventShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Shreds.Merge.MergeShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilityShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Shreds.Publication.PublicationShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilitySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Shreds.ShredsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ClearCanvas.Ris.Shreds.HL7.LogicalHL7EventShredSettings>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="EmptyQueueSleepTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="FailedItemRetryDelay" serializeAs="String">
          <value>300</value>
        </setting>
      </ClearCanvas.Ris.Shreds.HL7.LogicalHL7EventShredSettings>
      <ClearCanvas.Ris.Shreds.Merge.MergeShredSettings>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="EmptyQueueSleepTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="ThrottleInterval" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ItemsProcessedPerTransaction" serializeAs="String">
          <value>4</value>
        </setting>
      </ClearCanvas.Ris.Shreds.Merge.MergeShredSettings>
      <ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilityShredSettings>
        <setting name="DicomCallingAETitle" serializeAs="String">
          <value>ImageAvailabilityScu</value>
        </setting>
        <setting name="DicomServerAETitle" serializeAs="String">
          <value>serverAE</value>
        </setting>
        <setting name="DicomServerHost" serializeAs="String">
          <value>serverHost</value>
        </setting>
        <setting name="DicomServerPort" serializeAs="String">
          <value>4006</value>
        </setting>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="EmptyQueueSleepTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="ExpirationTime" serializeAs="String">
          <value>24</value>
        </setting>
        <setting name="PollingIntervalForIndeterminate" serializeAs="String">
          <value>600</value>
        </setting>
        <setting name="PollingIntervalForZero" serializeAs="String">
          <value>600</value>
        </setting>
        <setting name="PollingIntervalForPartial" serializeAs="String">
          <value>300</value>
        </setting>
        <setting name="PollingIntervalForComplete" serializeAs="String">
          <value>600</value>
        </setting>
        <setting name="PollingIntervalForError" serializeAs="String">
          <value>600</value>
        </setting>
      </ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilityShredSettings>
      <ClearCanvas.Ris.Shreds.Publication.PublicationShredSettings>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="EmptyQueueSleepTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="FailedItemRetryDelay" serializeAs="String">
          <value>300</value>
        </setting>
        <setting name="HL7PublicationEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="HL7FailedItemRetryCount" serializeAs="String">
          <value>-1</value>
        </setting>
      </ClearCanvas.Ris.Shreds.Publication.PublicationShredSettings>
      <ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilitySettings>
        <setting name="DicomCallingAETitle" serializeAs="String">
          <value>ImageAvailabilityScu</value>
        </setting>
        <setting name="DicomServerAETitle" serializeAs="String">
          <value>serverAE</value>
        </setting>
        <setting name="DicomServerHost" serializeAs="String">
          <value>serverHost</value>
        </setting>
        <setting name="DicomServerPort" serializeAs="String">
          <value>4006</value>
        </setting>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="SleepDurationInSeconds" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="NextScheduledTimeForErrorInMinutes" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ExpirationTimeInHours" serializeAs="String">
          <value>24</value>
        </setting>
        <setting name="NextScheduledTimeForUnknownAvailabilityInMinutes" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="NextScheduledTimeForZeroAvailabilityInMinutes" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="NextScheduledTimeForPartialAvailabilityInMinutes" serializeAs="String">
          <value>5</value>
        </setting>
      </ClearCanvas.Ris.Shreds.ImageAvailability.ImageAvailabilitySettings>
      <ClearCanvas.Ris.Shreds.ShredsSettings>
        <setting name="BatchSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="SleepDurationInSeconds" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="ShutdownTimeOutInSeconds" serializeAs="String">
          <value>60</value>
        </setting>
      </ClearCanvas.Ris.Shreds.ShredsSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
