<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClearCanvas.Common.UsageTracking.UsageTrackingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ClearCanvas.Dicom.DicomSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
    <connectionStrings>
        <add name="ClearCanvas.ImageServer.TestApp.Properties.Settings.ImageServerConnectionString"
            connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
            providerName="System.Data.SqlClient" />
        <add name="ImageServerConnectString" connectionString="Data Source=127.0.0.1;User ID=sa;Password=clearcanvas;Initial Catalog=ImageServer"
            providerName="System.Data.SqlClient" />
        <add name="ClearCanvas.ImageServer.TestApp.Properties.Settings.ImageServerConnectionString1"
            connectionString="Data Source=172.16.10.122;Initial Catalog=ImageServer;User ID=pacsuser;Password=jdmidb"
            providerName="System.Data.SqlClient" />
        <add name="ClearCanvas.ImageServer.TestApp.Properties.Settings.MyShopConnectionString"
            connectionString="Data Source=LPC;Initial Catalog=MyShop;User ID=sa;Password=clearcanvas"
            providerName="System.Data.SqlClient" />
        <add name="ClearCanvas.ImageServer.TestApp.Properties.Settings.ImageServerConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=ImageServer;User ID=isuser;Password=ispass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <applicationSettings>

    <ClearCanvas.Dicom.DicomSettings>
      <setting name="ValidateVrLengths" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ValidateVrValues" serializeAs="String">
        <value>False</value>
      </setting>
    </ClearCanvas.Dicom.DicomSettings>

    <ClearCanvas.Common.UsageTracking.UsageTrackingSettings>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayMessages" serializeAs="String">
        <value>True</value>
      </setting>
    </ClearCanvas.Common.UsageTracking.UsageTrackingSettings>

  </applicationSettings>
  
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="common;plugins"/>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:50221/HeaderStreaming/HeaderStreaming" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeaderStreamingService" contract="ClearCanvas.ImageServer.TestApp.services.IHeaderStreamingService" name="BasicHttpBinding_IHeaderStreamingService"/>
  </client>
 </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
