<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Server.WebServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ClearCanvas.Common.ExtensionSettings>
        <setting name="ExtensionConfigurationXml" serializeAs="Xml">
          <value>
            <extensions>
              <extension class="ClearCanvas.Enterprise.Core.InProcessCoreServiceProvider, ClearCanvas.Enterprise.Core" enabled="true"/>
              <extension class="ClearCanvas.Enterprise.Common.RemoteCoreServiceProvider, ClearCanvas.Enterprise.Common" enabled="false"/>
              <extension class="ClearCanvas.Healthcare.Owls.Hibernate.Brokers.OwlsModalityWorklistItemBroker, ClearCanvas.Healthcare.Owls.Hibernate" enabled="true"/>
              <extension class="ClearCanvas.Healthcare.Owls.Hibernate.Brokers.OwlsRegistrationWorklistItemBroker, ClearCanvas.Healthcare.Owls.Hibernate" enabled="true"/>
              <extension class="ClearCanvas.Healthcare.Owls.Hibernate.Brokers.OwlsProtocolWorklistItemBroker, ClearCanvas.Healthcare.Owls.Hibernate" enabled="true"/>
              <extension class="ClearCanvas.Healthcare.Owls.Hibernate.Brokers.OwlsReportingWorklistItemBroker, ClearCanvas.Healthcare.Owls.Hibernate" enabled="true"/>
              <extension class="ClearCanvas.Healthcare.Mwl.Owls.Hibernate.Brokers.OwlsMwlWorklistItemBroker, ClearCanvas.Healthcare.Mwl.Owls.Hibernate" enabled="true"/>

              <extension class="ClearCanvas.Healthcare.Owls.Views.ProcedureSearchView, ClearCanvas.Healthcare.Owls" enabled="true"/>
              <extension class="ClearCanvas.Healthcare.Owls.Views.ProcedureStepWorklistView, ClearCanvas.Healthcare.Owls" enabled="true"/>
              <extension class="ClearCanvas.Healthcare.Mwl.Owls.Views.MwlWorklistView, ClearCanvas.Healthcare.Mwl.Owls" enabled="true"/>
            </extensions>
          </value>
        </setting>
      </ClearCanvas.Common.ExtensionSettings>
      <ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
        <setting name="BaseUrl" serializeAs="String">
          <value>net.tcp://localhost:9999/</value>
        </setting>
        <setting name="FailoverBaseUrl" serializeAs="String">
          <value></value>
        </setting>
        <setting name="ConfigurationClass" serializeAs="String">
          <value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
        </setting>
        <setting name="MaxReceivedMessageSize" serializeAs="String">
          <value>2000000</value>
        </setting>
        <setting name="CertificateValidationMode" serializeAs="String">
          <value>PeerOrChainTrust</value>
        </setting>
        <setting name="RevocationMode" serializeAs="String">
          <value>NoCheck</value>
        </setting>
        <setting name="UserCredentialsProviderClass" serializeAs="String">
          <value>ClearCanvas.Enterprise.Common.DefaultUserCredentialsProvider, ClearCanvas.Enterprise.Common</value>
        </setting>
      </ClearCanvas.Enterprise.Common.RemoteCoreServiceSettings>
      <ClearCanvas.Ris.Server.WebServicesSettings>
        <setting name="BaseUrl" serializeAs="String">
          <value>net.tcp://localhost:8000/</value>
        </setting>
        <setting name="SendExceptionDetailToClient" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ConfigurationClass" serializeAs="String">
          <value>ClearCanvas.Enterprise.Common.ServiceConfiguration.Server.NetTcpConfiguration, ClearCanvas.Enterprise.Common</value>
        </setting>
        <setting name="MaxReceivedMessageSize" serializeAs="String">
          <value>1000000</value>
        </setting>
        <setting name="EnablePerformanceLogging" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ConfigurationServiceResponseCachingEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="CertificateStoreName" serializeAs="String">
          <value>My</value>
        </setting>
        <setting name="CertificateStoreLocation" serializeAs="String">
          <value>LocalMachine</value>
        </setting>
        <setting name="CertificateCustomFindValue" serializeAs="String">
          <value />
        </setting>
      </ClearCanvas.Ris.Server.WebServicesSettings>
    </applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
