<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.View.WinForms.SplashScreenSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.View.WinForms.DesktopViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.View.WinForms.TableViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.View.WinForms.DesktopViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Desktop.View.WinForms.SplashScreenSettings>
            <setting name="UseSplashScreenSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImageAssemblyName" serializeAs="String">
                <value>ClearCanvas.Desktop.View.WinForms</value>
            </setting>
            <setting name="BackgroundImageResourceName" serializeAs="String">
                <value>Resources.Splash.png</value>
            </setting>
            <setting name="StatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusLocation" serializeAs="String">
                <value>295, 61</value>
            </setting>
            <setting name="StatusSize" serializeAs="String">
                <value>354, 13</value>
            </setting>
            <setting name="StatusAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StatusFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="CopyrightVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyrightLocation" serializeAs="String">
                <value>375, 340</value>
            </setting>
            <setting name="CopyrightSize" serializeAs="String">
                <value>286, 13</value>
            </setting>
            <setting name="CopyrightAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CopyrightFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyrightTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionLocation" serializeAs="String">
                <value>447, 292</value>
            </setting>
            <setting name="VersionSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="VersionAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="VersionFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="VersionTextFormat" serializeAs="String">
                <value>Version {0}</value>
            </setting>
            <setting name="LicenseVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseLocation" serializeAs="String">
                <value>617, 9</value>
            </setting>
            <setting name="LicenseSize" serializeAs="String">
                <value>44, 13</value>
            </setting>
            <setting name="LicenseAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LicenseFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="PluginIconsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PluginIconsRectangle" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ManifestLocation" serializeAs="String">
                <value>447, 314</value>
            </setting>
            <setting name="ManifestSize" serializeAs="String">
                <value>214, 13</value>
            </setting>
            <setting name="ManifestAutoSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManifestTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="ManifestForeColor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="ManifestFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguagesLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LanguagesSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LoginLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MessageLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MessageSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MessageAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageForeColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="MessageFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="EvaluationVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationLocation" serializeAs="String">
                <value>617, 9</value>
            </setting>
            <setting name="EvaluationSize" serializeAs="String">
                <value>44, 13</value>
            </setting>
            <setting name="EvaluationAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EvaluationFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="NotForDiagnosticUseVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotForDiagnosticUseLocation" serializeAs="String">
                <value>617, 9</value>
            </setting>
            <setting name="NotForDiagnosticUseSize" serializeAs="String">
                <value>44, 13</value>
            </setting>
            <setting name="NotForDiagnosticUseAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotForDiagnosticUseForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="NotForDiagnosticUseFontBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotForDiagnosticUseTextAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
        </ClearCanvas.Desktop.View.WinForms.SplashScreenSettings>
        <ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
            <setting name="LocalToolStripItemAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="LocalToolStripItemTextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="ShowNonPermissibleActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNonPermissibleActions" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
        <ClearCanvas.Desktop.View.WinForms.TableViewSettings>
            <setting name="ToolStripItemTextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="ToolStripItemAlignment" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Desktop.View.WinForms.TableViewSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
            <setting name="DesktopViewSettingsXml" serializeAs="Xml">
                <value>
                    <desktops />
                </value>
            </setting>
        </ClearCanvas.Desktop.View.WinForms.DesktopViewSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
