<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Client.Workflow.OrderMergeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.PreliminaryDiagnosisSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ProtocollingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.TranscriptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.DowntimeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ReportingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.PerformingDocumentationComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.PatientProfileDetailsEditorComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.OrderEntryComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.WorkflowSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ReportDocumentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.WorkflowComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ReportComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Ris.Client.Workflow.PriorReportComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.WorklistItemManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.TranscriptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ReportingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ProtocollingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.ReassignComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.Ris.Client.Workflow.SupervisorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Client.Workflow.OrderMergeSettings>
            <setting name="UnmergeDefaultReasonCode" serializeAs="String">
                <value>UM</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.OrderMergeSettings>
        <ClearCanvas.Ris.Client.Workflow.PreliminaryDiagnosisSettings>
            <setting name="RadiologyTemplatesXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromRadiologyTemplates.xml</value>
            </setting>
            <setting name="EmergencyTemplatesXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromEmergencyTemplates.xml</value>
            </setting>
            <setting name="RadiologySoftKeysXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromRadiologySoftKeys.xml</value>
            </setting>
            <setting name="EmergencySoftKeysXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromEmergencySoftKeys.xml</value>
            </setting>
            <setting name="VerificationTemplatesXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromVerificationTemplates.xml</value>
            </setting>
            <setting name="VerificationSoftKeysXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromVerificationSoftKeys.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.PreliminaryDiagnosisSettings>
        <ClearCanvas.Ris.Client.Workflow.ProtocollingSettings>
            <setting name="AllowMultipleProtocollingWorkspaces" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ProtocollingSettings>
        <ClearCanvas.Ris.Client.Workflow.TranscriptionSettings>
            <setting name="AllowMultipleTranscriptionWorkspaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupervisorStaffTypeFilters" serializeAs="String">
                <value>STRA</value>
            </setting>
            <setting name="NextItemQueueCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.TranscriptionSettings>
        <ClearCanvas.Ris.Client.Workflow.DowntimeSettings>
            <setting name="ReportEntryTranscriptionistStaffTypeFilters" serializeAs="String">
                <value>STRA</value>
            </setting>
            <setting name="ReportEntryRadiologistStaffTypeFilters" serializeAs="String">
                <value>PRAD, PRAR</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.DowntimeSettings>
        <ClearCanvas.Ris.Client.Workflow.ReportingSettings>
            <setting name="AllowMultipleReportingWorkspaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupervisorStaffTypeFilters" serializeAs="String">
                <value>PRAD</value>
            </setting>
            <setting name="NextItemQueueCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ReportingSettings>
        <ClearCanvas.Ris.Client.Workflow.PerformingDocumentationComponentSettings>
            <setting name="InitiallySelectedTabPageName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RadiologistStaffTypeFilters" serializeAs="String">
                <value>PRAD, PRAR</value>
            </setting>
            <setting name="ShowDicomSeriesTab" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.PerformingDocumentationComponentSettings>
        <ClearCanvas.Ris.Client.Workflow.PatientProfileDetailsEditorComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>PatientProfileDetailsEditorComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.PatientProfileDetailsEditorComponentSettings>
        <ClearCanvas.Ris.Client.Workflow.OrderEntryComponentSettings>
            <setting name="ValidationRules" serializeAs="String">
                <value>OrderEntryComponent.val.xml</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.OrderEntryComponentSettings>
         <ClearCanvas.Ris.Client.Workflow.WorkflowSettings>
              <setting name="EnableTranscriptionWorkflow" serializeAs="String">
                   <value>False</value>
              </setting>
              <setting name="EnableInterpretationReviewWorkflow" serializeAs="String">
                   <value>False</value>
              </setting>
              <setting name="EnableTranscriptionReviewWorkflow" serializeAs="String">
                   <value>False</value>
              </setting>
         </ClearCanvas.Ris.Client.Workflow.WorkflowSettings>
        <ClearCanvas.Ris.Client.Workflow.ReportDocumentSettings>
            <setting name="AllowOnlyOneReportingComponent" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ReportDocumentSettings>
        <ClearCanvas.Ris.Client.Workflow.WorkflowComponentSettings>
            <setting name="AllowOnlyOneReportingComponent" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.WorkflowComponentSettings>
        <ClearCanvas.Ris.Client.Workflow.ReportComponentSettings>
            <setting name="OrderSummaryBannerPageUrl" serializeAs="String">
                <value>http://localhost/RIS/ordersummarybanner.htm</value>
            </setting>
            <setting name="OrderDetailPageUrl" serializeAs="String">
                <value>http://localhost/RIS/orderdetail.htm</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ReportComponentSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Ris.Client.Workflow.PriorReportComponentSettings>
            <setting name="ShowRelevantPriorsOnly" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.PriorReportComponentSettings>
        <ClearCanvas.Ris.Client.Workflow.WorklistItemManagerSettings>
            <setting name="ShouldProceedToNextItem" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.WorklistItemManagerSettings>
        <ClearCanvas.Ris.Client.Workflow.TranscriptionSettings>
            <setting name="SupervisorID" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.Workflow.TranscriptionSettings>
        <ClearCanvas.Ris.Client.Workflow.ReportingSettings>
            <setting name="SupervisorID" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldApplyDefaultSupervisor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldOpenImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitiallySelectedTabPageName" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ReportingSettings>
        <ClearCanvas.Ris.Client.Workflow.ProtocollingSettings>
            <setting name="DefaultProtocolGroupsXml" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;&lt;procedure-protocolgroup-defaults&gt;&lt;/procedure-protocolgroup-defaults&gt;</value>
            </setting>
            <setting name="SupervisorID" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShouldApplyDefaultSupervisor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitiallySelectedTabPageName" serializeAs="String">
                <value>Order Attachments</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ProtocollingSettings>
        <ClearCanvas.Ris.Client.Workflow.ReassignComponentSettings>
            <setting name="KeepReport" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.ReassignComponentSettings>
        <ClearCanvas.Ris.Client.Workflow.SupervisorSettings>
            <setting name="SupervisorID" serializeAs="String">
                <value/>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.SupervisorSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
