<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClearCanvas.ImageViewer.DesktopServices.Automation.TestClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<ClearCanvas.ImageViewer.DesktopServices.Automation.TestClient.Settings>
			<setting name="ViewerWorkingDirectory" serializeAs="String">
				<value>..\..\..\..\..\..\Desktop\Executable\bin\Debug</value>
			</setting>
			<setting name="ViewerProcessExecutable" serializeAs="String">
				<value>ClearCanvas.Desktop.Executable</value>
			</setting>
		</ClearCanvas.ImageViewer.DesktopServices.Automation.TestClient.Settings>
	</applicationSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DicomExplorerAutomation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="StudyLocator" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="268435456" maxBufferPoolSize="524288" maxReceivedMessageSize="268435456" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="ViewerAutomation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<netNamedPipeBinding>
				<binding name="DicomExplorerAutomation1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport protectionLevel="EncryptAndSign"/>
					</security>
				</binding>
				<binding name="StudyLocator1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="268435456" maxConnections="10" maxReceivedMessageSize="268435456">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport protectionLevel="EncryptAndSign"/>
					</security>
				</binding>
				<binding name="ViewerAutomation1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport protectionLevel="EncryptAndSign"/>
					</security>
				</binding>
			</netNamedPipeBinding>
		</bindings>
		<client>
			<!--<endpoint address="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer/Automation"
                binding="basicHttpBinding" bindingConfiguration="DicomExplorerAutomation"
                contract="DicomExplorerAutomation.IDicomExplorerAutomation"
                name="DicomExplorerAutomation" />-->
			<endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorer/Automation" binding="netNamedPipeBinding" bindingConfiguration="DicomExplorerAutomation1" contract="DicomExplorerAutomation.IDicomExplorerAutomation" name="DicomExplorerAutomation1">
				<identity>
					<userPrincipalName value="SBRIGHT\stewart"/>
				</identity>
			</endpoint>
			<!--<endpoint address="http://localhost:51124/ClearCanvas/ImageViewer/StudyLocator"
                binding="basicHttpBinding" bindingConfiguration="StudyLocator"
                contract="StudyLocator.IStudyRootQuery" name="StudyLocator" />-->
			<endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/StudyLocator" binding="netNamedPipeBinding" bindingConfiguration="StudyLocator1" contract="StudyLocator.IStudyRootQuery" name="StudyLocator1">
				<identity>
					<userPrincipalName value="SBRIGHT\stewart"/>
				</identity>
			</endpoint>
			<!--<endpoint address="http://localhost:51124/ClearCanvas/ImageViewer/Automation"
                binding="basicHttpBinding" bindingConfiguration="ViewerAutomation"
                contract="ViewerAutomation.IViewerAutomation" name="ViewerAutomation" />-->
			<endpoint address="net.pipe://localhost/ClearCanvas/ImageViewer/Automation" binding="netNamedPipeBinding" bindingConfiguration="ViewerAutomation1" contract="ViewerAutomation.IViewerAutomation" name="ViewerAutomation1">
				<identity>
					<userPrincipalName value="SBRIGHT\stewart"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
