<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Explorer.Dicom.DicomExplorerConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Explorer.Dicom.DicomExplorerConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Explorer.Dicom.DicomExplorerConfigurationSettings>
            <setting name="SelectDefaultServerOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.ImageViewer.Explorer.Dicom.DicomExplorerConfigurationSettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.ImageViewer.Explorer.Dicom.DicomExplorerConfigurationSettings>
            <setting name="NameSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="AutoLeadingWildcard" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.ImageViewer.Explorer.Dicom.DicomExplorerConfigurationSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
