<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Tools.Synchronization.SynchronizationToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.ImageViewer.Tools.Synchronization.SynchronizationToolSettings>
            <setting name="ShowFirstAndLastReferenceLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParallelPlanesToleranceAngle" serializeAs="String">
                <value>10</value>
            </setting>
        </ClearCanvas.ImageViewer.Tools.Synchronization.SynchronizationToolSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
