<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Workflow.Extended.ProtocollingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Ris.Client.Workflow.Extended.PreliminaryDiagnosisSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Ris.Client.Workflow.Extended.ProtocollingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Ris.Client.Workflow.Extended.ProtocollingSettings>
            <setting name="AllowMultipleProtocollingWorkspaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupervisorStaffTypeFilters" serializeAs="String">
                <value>PRAD</value>
            </setting>
            <setting name="NextItemQueueCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.Extended.ProtocollingSettings>
        <ClearCanvas.Ris.Client.Workflow.Extended.PreliminaryDiagnosisSettings>
            <setting name="RadiologyTemplatesXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromRadiologyTemplates.xml</value>
            </setting>
            <setting name="EmergencyTemplatesXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromEmergencyTemplates.xml</value>
            </setting>
            <setting name="RadiologySoftKeysXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromRadiologySoftKeys.xml</value>
            </setting>
            <setting name="EmergencySoftKeysXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromEmergencySoftKeys.xml</value>
            </setting>
            <setting name="VerificationTemplatesXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromVerificationTemplates.xml</value>
            </setting>
            <setting name="VerificationSoftKeysXml" serializeAs="String">
                <value>PreliminaryDiagnosisFromVerificationSoftKeys.xml</value>
            </setting>
            <setting name="PreliminaryDiagnosisReviewForPatientClass" serializeAs="String">
                <value>E</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.Extended.PreliminaryDiagnosisSettings>
    </applicationSettings>
    <userSettings>
        <ClearCanvas.Ris.Client.Workflow.Extended.ProtocollingSettings>
            <setting name="DefaultProtocolGroupsXml" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;&lt;procedure-protocolgroup-defaults&gt;&lt;/procedure-protocolgroup-defaults&gt;</value>
            </setting>
            <setting name="SupervisorID" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldApplyDefaultSupervisor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitiallySelectedTabPageName" serializeAs="String">
                <value>Order Attachments</value>
            </setting>
        </ClearCanvas.Ris.Client.Workflow.Extended.ProtocollingSettings>
    </userSettings>
</configuration>