<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageServer.Services.Archiving.Hsm.HsmSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.ImageServer.Services.Archiving.Hsm.HsmSettings>
            <setting name="ArchiveThreadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RestoreThreadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReadFailRescheduleDelaySeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxSimultaneousRestores" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CompressZipFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PollDelayMilliseconds" serializeAs="String">
                <value>5000</value>
            </setting>
        </ClearCanvas.ImageServer.Services.Archiving.Hsm.HsmSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
