<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClearCanvas.ImageServer.Services.Streaming.HeaderStreaming.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ClearCanvas.ImageServer.Services.Streaming.Shreds.ImageStreamingServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHeaderStreamingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Streamed" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
			</basicHttpBinding>
        </bindings>
		<services>
		</services>
    </system.serviceModel>
    <applicationSettings>
		<ClearCanvas.ImageServer.Services.Streaming.HeaderStreaming.Settings>
			<setting name="LogStatistics" serializeAs="String">
			  <value>true</value>
			</setting>
		</ClearCanvas.ImageServer.Services.Streaming.HeaderStreaming.Settings>
		<ClearCanvas.ImageServer.Services.Streaming.Shreds.ImageStreamingServerSettings>
      <setting name="Port" serializeAs="String">
          <value>1000</value>
      </setting>
      <setting name="Path" serializeAs="String">
          <value>/wado/</value>
      </setting>
      <setting name="ConcurrencyWarningThreshold" serializeAs="String">
          <value>30</value>
      </setting>
      <setting name="EnableCache" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="CacheRetentionWindow" serializeAs="String">
          <value>00:00:10</value>
      </setting>
      <setting name="MaxConcurrentConnections" serializeAs="String">
          <value>50</value>
      </setting>
  </ClearCanvas.ImageServer.Services.Streaming.Shreds.ImageStreamingServerSettings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
