.TokenTextArea
{
    font-size: 12px;
    font-family: sans-serif;    
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.UserGroupTextArea
{
    font-size: 12px;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.TokenNameLabel
{
    font-size: 12px;
    font-family: sans-serif;
}

.DeviceSettingThrottleTab-GroupPanel
{
	border-right: #e0e0e1 0px solid;
	border-top: #e0e0e1 0px solid;
	border-left: #e0e0e1 0px solid;
	border-bottom: #e0e0e1 0px solid;
	padding: 5px;
}

/******************************
	Styles for add/edit dialog
******************************/
.EditPartitionDialogTab
{
	background: white;
}

.ServerPartitionDialogTabDescription
{
	width:500px;
	margin:10px;
	text-align:justify;
}

.DataAccessGroupContainer
{
	height:300px;
	overflow:auto;
	border-top: dashed 1px lightgray;
}

.DataAccessGroupCheckBoxList
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 30px;
}

.DataAccessGroupCheckBoxList input
{
	margin-right:20px;
}



/*==========================
    Alerts
============================*/

.AlertTableHeaderCell td
{
    font-weight: bold;
    border-bottom: solid 1px #336699;
    background: #eeeeee;
    padding-left: 5px; 
    padding-right: 5px;
    padding-bottom: 2px; 
}

.AlertTableCell td
{
    border-bottom: solid 1px #dddddd;
    padding: 2px 5px 3px 5px;
    color: #333333;
}

.AlertDetailsPanel
{
    top: 19px; 
    right: 0px; 
    position: absolute; 
    z-index: 2; 
    border: solid 2px #6699CC;
    background: #ffffff url(../images/Controls/Dialog/DialogBodyBackground.png) repeat-x bottom; 
    text-align: left;
    padding: 5px;
}


.DeleteAlertConfirmTable
{
    color: Black;
    font-size: 12px;
    width: 100%;
}

.DeleteAlertConfirmTableHeader
{
    font-weight: bold;
    color: #618FAD;
}

.DeleteAlertConfirmTableHeader td
{
    border-bottom: solid 1px #999999;
}

.DeleteAlertConfirmTableRow
{
    font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
}

.DeleteAlertConfirmTableRow td
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
    border-bottom: solid 1px #eeeeee;
}

div.DeleteAlertTableContainer {
	border: 1px solid #999999;
	margin-top: 5px;
	width: 700px;
	height: 200px;
	overflow: auto;
}

.AlertHoverPopupDetails
{
	margin-left: 20px;
	margin-top: 10px;
	padding: 5px;
	border-right: #6699CC 1px solid;
	border-top: #6699CC 1px solid;
	border-left: #6699CC 1px solid;
	border-bottom: #6699CC 1px solid;
	background: #ffffff url(../images/Controls/Dialog/DialogBodyBackground.png) repeat-x bottom;
}

.MoreInfo
{
	display: inline;
	font-size: 11px;
	color: Blue;
	text-decoration: none;
}

.LogInfo
{
	display: inline;
	font-size: 11px;
	color: Blue;
    text-decoration: none;
}

.WorkQueueAlertStudyTable
{
	border: lightsteelblue 1px solid;	
	background: #ffffff;
}

.WorkQueueAlertStudyTable tr td
{
	border-bottom: solid 1px #eeeeee;
	padding-right: 10px;
}

.WorkQueueAlertStudyTableHeader
{
    font-weight: bold;
    color: #336699;
}


/*=========================
 * Dashboard
 *=========================*/
 
.PartitionStorageConfigColumnContent
{
	margin-left:20px;
	margin-right:20px;
}

#OperatingModeIndicationPanel
{
	padding:10px;
	border-bottom:2px dashed lightgray;
	font-size:large;
	color:#205F87;
	font-weight:bold;
	text-align:center;
}

.OperatingModeLinkButtonBorder
{
	
	padding-left:3px; 
	padding-right:3px; 
	font-size:x-small
}

.UsersOverview
{
    background: #ffffff;
    border: solid 2px #B8D9EE; 
    text-align: center;
    font-weight: bold;
    color: #205F87;
}

.DashboardItemContainer
{
    margin: 10px 10px 10px 10px; 
    background: #cccccc url(../../../PersistantImage.ashx?key=ToolbarButtonPanelBackground) repeat-x top;
    padding: 3px;
    border: solid 1px #3D98D1
}

.DashboardItemHeader
{
    font-weight: bold; 
    font-size: 14px; 
    color: #205F87; 
    margin-left: 2px;
    margin-bottom: 4px;
}

.DashboardItemHeader a:link
{
    color: #205F87;
    text-decoration: none;
}

.DashboardItemHeader a:visited
{
    color: #205F87;
    text-decoration: none;
}

.DashboardItemHeader a:hover
{
    color: #205F87;
    text-decoration: underline;
}

.DashboardInfoContainer
{
    border: solid 1px #3D98D1;
}

.SidebarInfoContainer
{
    border: solid 1px #3D98D1;
    background: #ffffff  url(../../../PersistantImage.ashx?key=SidebarItemBackground) repeat-x top;
}

.DashboardBody
{
    background: #fafafa;
}

.OverviewHeader
{
    background: #ffffff url(../../../PersistantImage.ashx?key=GridViewHeaderBackground) repeat-x;
	height: 21px;
	text-align: left;
	padding-left: 8px;
	color: #205F87;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
}

.TotalStudiesSummary
{
    color: #205F87;
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    padding: 4px;
    background: #ffffff url(../images/Pages/Dashboard/StudiesSummaryTotalBackground.png) repeat-x bottom;
    font-size: 18px;
    border-top: solid 1px #3D98D1;
}

.TotalStudiesCount
{
    color: #55be50;
}
