/*================================================================================
Global.css - Defines the global styles for the entire web application relating  
             primarily to the elements defined in GlobalMasterPage.master.
==================================================================================*/

/* Global styles for the body */
.GlobalBody
{
	background-color: #e3eaee;
/*    background: #8fc3e4 url(../images/MainContent/Background.png) repeat-x; */
	font-family: Sans-Serif;
	font-size: 14px;
	margin: 0px;
}


/* Panel containing the contents of entire page */
.GlobalContentPanel
{
    background-color: Transparent;
	margin: 5px;
}


.GlocalSeeNotesMarker
{
	color:Red;
	font-weight:bold;
}

img
{
	border:0px;
}

/*==================================================
 * Header Items (Main Menu and Location Panel)
 *==================================================*/

.MainMenuPanel
{
	background: url(../../../PersistantImage.ashx?key=MenuBackground) repeat-x bottom;
	height: 40px;
	text-align: left;
	font-family: Sans-Serif;
	color: #205F87;
}

.MainMenuContent
{
	padding: 0px 0px 0px 0px;
}

.StaticMenu
{
    color: white;
    font-family: Sans-Serif;
    font-size: 16px;
}

.StaticMenuItem
{
    color: white;
    margin: 11px 3px 0px 3px;
    padding: 0px 1px 0px 1px;
    font-family: Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px #3D98D1;
    border-left: solid 1px #3D98D1;
    border-right: solid 1px #3D98D1;
    border-bottom: solid 1px #3D98D1;
}

.StaticHover
{
    color: white;
    background: #3482b2 url(../../../PersistantImage.ashx?key=MenuHoverBackground) repeat-x;
    margin: 11px 3px 0px 3px;
    padding: 0px 1px 0px 1px;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-top: solid 1px #2371a1;
    border-left: solid 1px #2371a1;
    border-right: solid 1px #2371a1;
    border-bottom: solid 1px #2371a1;
}

.StaticSelected
{
    color: white;
}

.DynamicMenu
{
    padding: 2px;
    border-left: solid 1px #2371a1;
    border-right: solid 1px #2371a1;
    border-top: solid 1px #2371a1;
    border-bottom: solid 1px #2371a1;
    z-index: 100;
}

.DynamicMenuItem
{
    color: White;
    background: #3482b2;
    font-weight: bold;
    font-size: 14px;
    border-top: solid 1px #3482b2;
    border-bottom: solid 1px #3482b2;
    border-left: solid 1px #3482b2;
    border-right: solid 1px #3482b2;
    padding: 1px 1px 1px 1px;
    margin: 1px;
}


.DynamicHover
{
    color: white;
    background:  url(../../../PersistantImage.ashx?key=MenuHoverBackground) repeat-x;
    padding: 1px 1px 1px 1px;
    border-top: solid 1px #2371a1;
    border-bottom: solid 1px #2371a1;
    border-left: solid 1px #2371a1;
    border-right: solid 1px #2371a1;
}

.DynamicSelected
{
    color: White;
}

.UserInformationPanel
{
    text-align: right; 
    position: relative; 
    font-size: 12px; 
    font-family: Arial; 
    top: -40px;
    position: relative;
}

.UserInformationPanel
{
    text-align: -moz-right; /* For Mozilla */
}

.UserInformationLink
{
    color: red; 
    text-decoration: none;     
}

.NewAlerts
{
    font-weight: bold;
}

/*=======================================================
 * Main Content Panel Items 
 *=====================================================*/

.MainContentPanel 
{
	background-color: white;
	padding: 7px 5px 5px 5px;
    position: static;	
}

.MainContentTable
{
    background-color:White;
}

.MainContentBorder
{
    border-left: solid 3px #3D98D1; 
    border-right: solid 3px #3D98D1;
}

.MainContentLeftEdge
{
	background: white url(../../../PersistantImage.ashx?key=MainContentLeftEdge) repeat-y;
	width: 7px;
	height: 1px;
}

.MainContentRightEdge
{
	background: white url(../../../PersistantImage.ashx?key=MainContentRightEdge) repeat-y;
	width: 7px;
	height: 1px;
}

.MainContentBottom
{
	background: url(../../../PersistantImage.ashx?key=MainContentBottom) repeat-x;
	height: 14px;   
}

.MainContentTitle
{
    color: White; 
    font-family: Sans-serif; 
    font-weight: bold; 
    font-size: 20px;
    padding-left: 8px;
    padding-bottom: 2px;
    background: #3d98d1;
    border-bottom: solid 1px #3d98d1;
}

.MainContentSubTitle
{
    color: #205F87; 
    font-family: Sans-serif; 
    font-weight: bold; 
    font-size: 18px;
    padding-left: 5px;
}

.MainContentTitleButtonPanel
{
    text-align: right;
    background: #3d98d1;
    padding-right: 4px; 
}

.MainContentCorners{display:block}
.MainContentCorners *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#3d98d1;
}
.MainContentCorners1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #abd2eb;
  border-right:1px solid #abd2eb;
  background:#6db1dc}
.MainContentCorners2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #ebf4fa;
  border-right:1px solid #ebf4fa;
  background:#61abd9}
.MainContentCorners3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #61abd9;
  border-right:1px solid #61abd9;}
.MainContentCorners4{
  border-left:1px solid #abd2eb;
  border-right:1px solid #abd2eb}
.MainContentCorners5{
  border-left:1px solid #6db1dc;
  border-right:1px solid #6db1dc}
.MainContentCornersFG{
  background:#3d98d1}
  
.ButtonPanel
{
    text-align: right;
}


/*================================
 * Toolbar Styles
 *================================*/

.ToolbarPanelContainer
{
	margin: 10px 0px 9px 5px;
}

.ToolbarButtonPanel
{
    background: #b8d9ee url(../../../PersistantImage.ashx?key=ToolbarButtonPanelBackground) repeat-x;
    height: 28px;
    border-top: solid 1px white;
}

.ToolbarLabelPanel
{
    background: #b8d9ee url(../../../PersistantImage.ashx?key=ToolbarButtonPanelBackground) repeat-x;
    height: 28px;
    border-top: solid 1px white;
    width: 100%; 
    color: #205F87; 
    font-family: Sans-serif; 
    font-weight: bold; 
    font-size: 18px; 
    padding-left: 5px;
    border-bottom: solid 1px #3d98d1;
}

.ToolbarButtons
{
    padding-top: 3px;
    padding-left: 6px;
}

.ToolbarButtonsRight
{
    text-align: right;
    padding-right: 5px;
}

/*================================
 * Search Styles
 *================================*/

.PartitionLink
{   
  	padding: 2px 5px 2px 5px;
	font-family: Sans-Serif;
	color: #618FAD;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #618FAD;
	background: #ffffff url(../../../../PersistantImage.ashx?key=SearchTextBoxBackground) repeat-x;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 24px;
}

.PartitionLinkDisabled
{   
  	padding: 2px 5px 2px 5px;
	font-family: Sans-Serif;
	color: #D13D4D;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #618FAD;
	background: #ffffff url(../../../../PersistantImage.ashx?key=SearchTextBoxBackground) repeat-x;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 24px;
}

.SearchPanelContainer
{
    margin: 5px 0px 5px 5px;
}

.SearchPanelContent
{
    background: #B8D9EE url(../../../PersistantImage.ashx?key=SearchPanelBackground) repeat-x bottom;
    border-bottom: solid 1px #3D98D1;
    padding: 6px 4px 6px 4px;
}

.SearchPanelContentWithoutTabs
{
    background: #B8D9EE url(../../../PersistantImage.ashx?key=SearchPanelBackground) repeat-x bottom;
    border-top: solid 1px #205F87;
    border-bottom: solid 1px #3D98D1;
    padding: 6px 4px 6px 4px;
}

.SearchTextBoxLabel
{
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
	margin-right: 3px;
	color: #205F87;
}

.SearchLabelDark
{
    font-family: Sans-Serif; 
    font-size: 14px; 
    font-weight: bold; 
    margin-right: 5px; 
    color: #205F87;
}

.SearchTextBox, .SearchDateBox
{
    font-family: Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    padding-left: 2px;
    width: 120px;
	margin-left: 3px;
	margin-right: 3px;
	border: solid 1px #305ba6;
    background: #ffffff url(../../../PersistantImage.ashx?key=SearchTextBoxBackground) repeat-x ;
}

.SearchDateTimeTextBox
{
    font-family: Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    padding-left: 2px;
    width: 130px;
	margin-left: 3px;
	margin-right: 3px;
	border: solid 1px #305ba6;
    background: #ffffff url(../../../PersistantImage.ashx?key=SearchTextBoxBackground) repeat-x ;
}

.SearchTextBox.TextInputHover {
	background: #fff;
	border: solid 1px #99CCFF;
	font-weight: bold;
	color: #333333;
}

.SearchTextBox.TextInputFocus {
	background: #fff;
	border: solid 1px #99CCFF;
	font-weight: bold;
	color: #333333;
}

.SearchDateBox.DateInputHover 
{
	background: #ffffff;
	border: solid 1px #99CCFF;
	font-weight: bold;
	color: #333333;

}

.SearchCheckBox
{
	margin-left:10px;
	margin-right:10px;
}

.SearchDropDownList
{
	margin-left: 3px;
	margin-right: 3px;
	font-family: Sans-Serif;
	font-size: 11px;
	border: solid 1px #305ba6;
	background: #ffffff url(../../../PersistantImage.ashx?key=SearchTextBoxBackground) repeat-x ;
}

.SearchButtonPanel
{
	margin-left:5px;
	margin-right: 5px;
	vertical-align: bottom;
	padding: 0px;
}

.SmallLink
{
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background: #8FC3E4 url(../../../PersistantImage.ashx?key=ClearButtonBackground);
    padding: 1px 3px 2px 3px;
}

.EmptySearchResultsMessage
{
    margin: 30px 50px 30px 50px; 
    text-align: center; 
    padding: 5px; 
    font-size: 16px; 
    color: #205F87;
}
.EmptySearchResultsSuggestionPanel
{
	border-right: #205f87 1px solid;
	border-top: #205f87 1px solid;
	border-left: #205f87 1px solid;
	border-bottom: #205f87 1px solid;
	background: #ffffff url(../images/Controls/Dialog/DialogBodyBackground.png) repeat-x bottom;
}

.EmptySearchResultsSuggestionContent
{
	font-size: normal;
	color: #205F87;	
}

.EmptySearchResultsSuggestionPanelHeader
{
	border-bottom: #cccccc 2px solid;
	padding: 4px;
}

/*================================
 * About 
 *================================*/

.AboutPanel
{
    padding-left: 10px;
    padding-right: 10px;
    font-family: Sans-Serif;
    font-size: 14px;
}

pre
{
	font-family: Sans-Serif;	
	margin:0px;
	height: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


.MarketingName
{
	font-weight: bold; 
	font-size:x-large;
	margin-bottom:10px;
}
/*=============================

==============================*/

.MessageBanner
{ 	
	display:none;
	text-align: center;
	background: #ffffcc url(../../../PersistantImage.ashx?key=ErrorMessageBackground) repeat-x;
	color:  #ff0000;
	opacity: 1; /* Safari, Opera */
	-moz-opacity: 100; /* FireFox */
	filter: alpha(opacity=100); /* IE */
	z-index: 10000000; /* make it top-most , hopefully it's enough*/
	border-bottom: solid 1px #ff0000;  
	width: 100%;
}	

.SessionTimeoutWarningMessage
{
    color: #ff0000;
    padding-right: 10px;
}
 
.CountdownBanner
{
	z-index: 10000000;
	padding: 5px;
	color: #ff0000;
	width: 100%;
}

.CountdownEffectPanel
{
	display:none;
}

.AppAlertMessagePanel
{
	display:none;
	text-align: center;
	background: #ffffcc url(../../../PersistantImage.ashx?key=ErrorMessageBackground) repeat-x;
	opacity: .9; /* Safari, Opera */
	-moz-opacity: 90; /* FireFox */
	filter: alpha(opacity=90); /* IE */

	border-bottom: #ff0000 1px solid; 
	padding:10px;
	width:100%;
	font-weight: bold;
	color: #ff0000;
}

.FixedPos {
  /* used by Opera 5+, Netscape6+/Mozilla, Konqueror, Safari, OmniWeb 4.5+, iCab, ICEbrowser */
  position: fixed;
  width: 100%;
}

* html .FixedPos {
    position: absolute;
    width: 100%;
}

/*================
    About Page
================*/

.AboutBackground
{
    background: white url('../images/AboutBackground.png') no-repeat top left;
}

.WebViewerToolbarButtonPanel
{
    background: #707070 url('../../../PersistantImage.ashx?key=WebViewerToolbarBackground') repeat-x;
    height: 28px;
}