<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.ImageViewer.Tools.Standard.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClearCanvas.ImageViewer.Tools.Standard.PresetVoiLuts.PresetVoiLutSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.ImageViewer.Tools.Standard.PresetVoiLuts.AvailablePresetVoiLutKeyStrokeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <ClearCanvas.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesSettings>
        <setting name="ShowEmptyValues" serializeAs="String">
          <value>True</value>
        </setting>
      </ClearCanvas.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesSettings>
      <ClearCanvas.ImageViewer.Tools.Standard.ToolSettings>
        <setting name="ShowRawPixelValue" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowVOIPixelValue" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TextCalloutMode" serializeAs="String">
          <value>TextCallout</value>
        </setting>
        <setting name="MagnificationFactor" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="InvertedZoomToolOperation" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MatchScaleForNonParallelImages" serializeAs="String">
          <value>False</value>
        </setting>
      </ClearCanvas.ImageViewer.Tools.Standard.ToolSettings>
      <ClearCanvas.ImageViewer.Tools.Standard.PresetVoiLuts.PresetVoiLutSettings>
        <setting name="SettingsXml" serializeAs="String">
          <value>DefaultPresetVoiLutConfiguration.xml</value>
        </setting>
      </ClearCanvas.ImageViewer.Tools.Standard.PresetVoiLuts.PresetVoiLutSettings>
    </userSettings>
    <applicationSettings>
      <ClearCanvas.ImageViewer.Tools.Standard.PresetVoiLuts.AvailablePresetVoiLutKeyStrokeSettings>
        <setting name="AvailableKeyStrokes" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F3</string>
              <string>F4</string>
              <string>F5</string>
              <string>F6</string>
              <string>F7</string>
              <string>F8</string>
              <string>F9</string>
              <string>F10</string>
              <string>F11</string>
              <string>F12</string>
            </ArrayOfString>
          </value>
        </setting>
      </ClearCanvas.ImageViewer.Tools.Standard.PresetVoiLuts.AvailablePresetVoiLutKeyStrokeSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
