<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearCanvas.Dicom.ServiceModel.Streaming.StreamingSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Dicom.Network.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ClearCanvas.Dicom.DicomSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.Dicom.ServiceModel.Streaming.StreamingSettings>
            <setting name="ClientTimeoutSeconds" serializeAs="String">
                <value>10</value>
            </setting>
        </ClearCanvas.Dicom.ServiceModel.Streaming.StreamingSettings>
        <ClearCanvas.Dicom.Network.NetworkSettings>
            <setting name="ReadTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ConnectTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ReceiveBufferSize" serializeAs="String">
                <value>118341</value>
            </setting>
            <setting name="SendBufferSize" serializeAs="String">
                <value>118341</value>
            </setting>
            <setting name="LocalMaxPduLength" serializeAs="String">
                <value>116794</value>
            </setting>
            <setting name="RemoteMaxPduLength" serializeAs="String">
                <value>116794</value>
            </setting>
            <setting name="DisableNagle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CombineCommandDataPdu" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Dicom.Network.NetworkSettings>
        <ClearCanvas.Dicom.DicomSettings>
            <setting name="ValidateVrLengths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateVrValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreOutOfRangeTags" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Dicom.DicomSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
