<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ClearCanvas.Desktop.LocaleSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="ClearCanvas.Desktop.ToolStripSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="ClearCanvas.Desktop.FormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="ClearCanvas.Desktop.Actions.ActionModelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.Desktop.LocalePolicy" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Configuration.ConfigurationDialogSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.Validation.ValidationRulesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.DesktopSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClearCanvas.Desktop.ExceptionHandlerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearCanvas.Desktop.LocaleSettings>
            <setting name="SelectedLocale" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Desktop.LocaleSettings>
        <ClearCanvas.Desktop.ToolStripSettings>
            <setting name="WrapLongToolstrips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="ToolStripDock" serializeAs="String">
                <value>Top</value>
            </setting>
        </ClearCanvas.Desktop.ToolStripSettings>
        <ClearCanvas.Desktop.Actions.ActionModelSettings>
            <setting name="ActionModelsXml" serializeAs="Xml">
                <value>
                    <action-models />
                </value>
            </setting>
        </ClearCanvas.Desktop.Actions.ActionModelSettings>
        <ClearCanvas.Desktop.FormatSettings>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MMM-yyyy</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>HH:mm</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DescriptiveDateThresholdInDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DescriptiveFormattingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearCanvas.Desktop.FormatSettings>
    </userSettings>
    <applicationSettings>
        <ClearCanvas.Desktop.LocalePolicy>
            <setting name="AllowedLocalizationsList" serializeAs="String">
                <value />
            </setting>
        </ClearCanvas.Desktop.LocalePolicy>
        <ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
            <setting name="AvailableCustomFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>M/d/yyyy</string>
                        <string>M/d/yy</string>
                        <string>MM/dd/yyyy</string>
                        <string>MM/dd/yy</string>
                        <string>yyyy-MM-dd</string>
                        <string>yy-MM-dd</string>
                        <string>yyyy/MM/dd</string>
                        <string>yy/MM/dd</string>
                        <string>dd-MMM-yy</string>
                        <string>dd-MMM-yyyy</string>
                        <string>dd-MM-yy</string>
                        <string>dd-MM-yyyy</string>
                        <string>yyyyMMdd</string>
                        <string>dddd, MMMM dd, yyyy</string>
                        <string>MMMM dd, yyyy</string>
                        <string>dddd, dd MMMM, yyyy</string>
                        <string>dd MMMM, yyyy</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ClearCanvas.Desktop.Configuration.Standard.CustomDateFormatSettings>
        <ClearCanvas.Desktop.Configuration.ConfigurationDialogSettings>
            <setting name="ShowApplyButton" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.Configuration.ConfigurationDialogSettings>
        <ClearCanvas.Desktop.Validation.ValidationRulesSettings>
            <setting name="CustomRulesXml" serializeAs="String">
                <value>ValidationRules.xml</value>
            </setting>
        </ClearCanvas.Desktop.Validation.ValidationRulesSettings>
        <ClearCanvas.Desktop.ExceptionHandlerSettings>
            <setting name="ShowStackTraceInDialog" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearCanvas.Desktop.ExceptionHandlerSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
